/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */

/* Type Sizes */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* Colors */

/* Default colors */

/* Title weights */

/* Forms */

/* Tables */

/* Carousel */

/* CLF 8 Breakpoints map */

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */

/* alterations to form elements provided by the webform module */

.webform-actions {
  margin-top: 1.5rem;
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: .875em;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  margin-top: 0;
}

.webform-submission-form .fieldset-wrapper {
  margin-top: 1em;
}

.text-count-message, .description {
  font-size: .875rem;
  --tw-text-opacity: 1;
  color: rgb(80 91 103 / var(--tw-text-opacity));
}

.form--inline .form-item {
  margin-top: 0;
}

input[type="submit"]:not(.webform-button--submit) {
  display: inline-flex;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  padding: 0.5em 1em .3em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  color: #fff;
  line-height: 1.3;
  font-size: .75em;
}

input[type="submit"]:not(.webform-button--submit):hover {
  border-color: transparent;
  background-color: var(--color-accent);
  -webkit-text-decoration-line: none;
          text-decoration-line: none;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
  color: #fff;
}

input[name="autocomplete_table_add"],
input[name="custom_composite_table_add"] {
  margin-top: .5em;
  margin-bottom: .5em;
}

.tabledrag-toggle-weight {
  font-size: .75em;
}

@media (min-width: 600px) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    column-count: initial;
  }

  .webform-options-display-two-columns div.form-item {
    width: 50%;
  }

  .webform-options-display-three-columns div.form-item {
    width: calc(100% / 3);
  }

}
