/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */

/* Type Sizes */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* Colors */

/* Default colors */

/* Title weights */

/* Forms */

/* Tables */

/* Carousel */

/* CLF 8 Breakpoints map */

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */

/* alterations to form elements provided by the webform module */

.webform-actions,
.webform-submission-form .form-actions {
  margin-top: calc(var(--leading) * 1rem);
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: .875em;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  margin-top: 0;
}

.webform-submission-form .fieldset-wrapper {
  margin-top: 1em;
}

.webform-submission-form .form-required {
  color: inherit;
  position: relative;
}

.text-count-message,
.description {
  font-size: .875rem;
  --tw-text-opacity: 1;
  color: rgb(80 91 103 / var(--tw-text-opacity));
}

.form--inline .form-item {
  margin-top: 0;
}

input[type="submit"]:not(.webform-button--submit) {
  display: inline-flex;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--color-primary);
  text-align: center;
  text-transform: uppercase;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-decoration-line: none;
  padding: 0.5em 1em .3em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  line-height: 1.3;
  font-size: .75em;
}

.webform-submission-form input[type="submit"]:not(.webform-button--submit):hover {
  border-color: transparent;
  background-color: var(--color-accent);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-decoration-line: none;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}

input[name="autocomplete_table_add"],
input[name="custom_composite_table_add"] {
  margin-top: .5em;
  margin-bottom: .5em;
}

.tabledrag-toggle-weight {
  font-size: .75em;
}

@media (min-width: 600px) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    column-count: initial;
  }

  .webform-options-display-two-columns div.form-item {
    width: 50%;
  }

  .webform-options-display-three-columns div.form-item {
    width: calc(100% / 3);
  }

}

/* adjust webform checkboxes / radios */

.webform-submission-form .checkboxes--wrapper legend,
.webform-submission-form .webform-checkboxes-other--wrapper legend,
.webform-submission-form .radios--wrapper legend,
.webform-submission-form .webform-radios-other--wrapper legend {
  padding-bottom: 0;
  text-transform: none;
  border-bottom: none;
  font-size: .875rem;
  color: #002145;
}

.webform-submission-form .checkboxes--wrapper .fieldset-wrapper,
.webform-submission-form .webform-checkboxes-other--wrapper .fieldset-wrapper,
.webform-submission-form .radios--wrapper .fieldset-wrapper,
.webform-submission-form .webform-radios-other--wrapper .fieldset-wrapper,
.webform-submission-form :not(.checkboxes--wrapper) .form-item.form-checkbox,
.webform-submission-form :not(.radios--wrapper) .form-item.form-radio {
  margin-top: .5em;
}

/* fix prefix and suffix for fields */

.webform-has-field-prefix,
.webform-has-field-suffix {
	display: flex;
	flex-wrap: wrap;
}

.webform-has-field-prefix label,
.webform-has-field-prefix .description,
.webform-has-field-suffix label,
.webform-has-field-suffix .description {
	width: 100%;
}

.webform-has-field-prefix .field-prefix,
.webform-has-field-suffix .field-suffix {
	flex-grow: 0;
    display: inline-block;
    place-self: center;
}

.webform-has-field-prefix .field-prefix {
	padding-right: 0.5em;
}

.webform-has-field-suffix .field-suffix {
    padding-left: 0.5em;
}

.webform-has-field-prefix input,
.webform-has-field-suffix input {
    flex: 1;
}

/* fix drag icon */

.webform-submission-form a.tabledrag-handle .handle {
  width: auto;
  height: auto;
}

/* add submit styles */

.webform-submission-form .form-submit {
  display: inline-flex;
  border-width: 1px;
  border-color: transparent;
  background-color: var(--color-primary);
  text-align: center;
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-decoration-line: none;

  padding: 1em 1.5em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  line-height: 1.3;
}

.webform-submission-form .form-submit:hover {
  border-color: transparent;
  background-color: var(--color-accent);
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-decoration-line: none;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);

  transition: background-color .125s ease, color .125s ease;
}

.webform-submission-form .form-submit:active {
  border-color: transparent;
  --tw-bg-opacity: 1;
  background-color: rgb(0 85 183 / var(--tw-bg-opacity));
  --tw-text-opacity: 1;
  color: rgb(255 255 255 / var(--tw-text-opacity));
  text-decoration-line: none;
  --tw-shadow: 0 4px 6px -1px rgb(0 0 0 / 0.1), 0 2px 4px -2px rgb(0 0 0 / 0.1);
  --tw-shadow-colored: 0 4px 6px -1px var(--tw-shadow-color), 0 2px 4px -2px var(--tw-shadow-color);
  box-shadow: var(--tw-ring-offset-shadow, 0 0 #0000), var(--tw-ring-shadow, 0 0 #0000), var(--tw-shadow);
}