/**
 * @file
 * Styles for system messages
 */
/*
* This file contains all default application-wide Sass and CSS3 variables.
*/
/* used to determine when to trigger an external icon */
/* Type Sizes */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 36px */
/* 44px */
/* 54px */
/* 64px */
/* 80px */
/* 122px */
/* 12px */
/* 14px */
/* 16px */
/* 18px */
/* 20px */
/* 24px */
/* 28px */
/* 32px */
/* 36px */
/* 44px */
/* 54px */
/* 64px */
/* 80px */
/* 122px */
/* Colors */
/* Default colors */
/* Title weights */
/* Forms */
/* Tables */
/* Carousel */
/* CLF 8 Breakpoints map */
/* CLF 7 Breakpoints map to control version 7 of the CLF separately */
.message {
  position: relative;
  display: flex;
  align-items: center;
  margin-top: 1.5rem;
  margin-bottom: 1.5rem;
  padding-top: 1rem;
  padding-right: 3rem;
  padding-bottom: 1rem;
  padding-left: 3rem;
  box-shadow: 0 10px 15px -3px rgba(0, 0, 0, 0.1), 0 4px 6px -2px rgba(0, 0, 0, 0.05);
}
.message--success {
  background-color: #57edae;
}
.message--status {
  background-color: #40b4e5;
}
.message--warning {
  background-color: #f8e605;
}
.message--error {
  background-color: #ff7c7c;
}
.message__close {
  position: absolute;
  top: 0;
  right: 0;
  padding-top: 0.75rem;
  padding-right: 1rem;
  padding-bottom: 0.75rem;
  padding-left: 1rem;
  line-height: 1;
}
.message__close:hover {
  text-decoration: none;
  color: #000;
  background-color: rgba(255, 255, 255, 0.5);
}
.message__icon {
  display: inline-block;
  flex: none;
  width: 3rem;
  height: 3rem;
  margin-right: 1rem;
  color: #002145;
}
@media (min-width: 1720px:) {
  .message {
    padding-top: 2rem;
    padding-bottom: 2rem;
    padding-left: 2rem;
  }

  .message__icon {
    width: 5rem;
    height: 5rem;
    margin-right: 2rem;
  }
}
