/* drupal views */

/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */

/* Type Sizes */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* Colors */

/* Default colors */

/* Title weights */

/* Forms */

/* Tables */

/* Carousel */

/* CLF 8 Breakpoints map */

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */

.views-exposed-form:not(.bef-exposed-form) {
    margin-top: 0px;
    margin-bottom: 0px;
    margin-top: 1.5rem;
    margin-bottom: 2rem;
    --tw-bg-opacity: 1;
    background-color: rgb(241 243 244 / var(--tw-bg-opacity));
    padding: 2rem;
    /**
   * Variables.
   */
  --grid-layout-gap: 1.5rem;
  --grid-column-count: 4;
  --grid-item--min-width: 200px;

  /**
   * Calculated values.
   */
  --gap-count: calc(var(--grid-column-count) - 1);
  --total-gap-width: calc(var(--gap-count) * var(--grid-layout-gap));
  --grid-item--max-width: calc((100% - var(--total-gap-width)) / var(--grid-column-count));

  display: grid;
  grid-template-columns: repeat(auto-fill, minmax(max(var(--grid-item--min-width), var(--grid-item--max-width)), 1fr));
  grid-gap: var(--grid-layout-gap);

}

@media screen and (min-width: 980px) {

  .nav--is-pinned table.sticky-header {
    top: 45px !important;
  }

}