/*
* This file contains all default application-wide Sass and CSS3 variables.
*/

/* used to determine when to trigger an external icon */

/* Type Sizes */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* 12px */

/* 14px */

/* 16px */

/* 18px */

/* 20px */

/* 24px */

/* 28px */

/* 32px */

/* 36px */

/* 44px */

/* 54px */

/* 64px */

/* 80px */

/* 122px */

/* Colors */

/* Default colors */

/* Title weights */

/* Forms */

/* Tables */

/* Carousel */

/* CLF 8 Breakpoints map */

/* CLF 7 Breakpoints map to control version 7 of the CLF separately */

.ubc-card__media .media--type-image,
figure .media--type-image {
  margin-top: 0px;
}

.text-formatted figure:not([class*="align-"]) {
  width: 100%;
}

.align-center,
.align-left,
.align-right {
  display: table;
}

.align-center {
  margin-left: auto;
  margin-right: auto;
}

figure[class*="align-"] figcaption {
  display: table-caption;
  caption-side: bottom;
}

:not(figure) > .media--type-file {
  margin-top: calc(var(--leading) * 1rem);
}

:not(figure) > .media--type-file:not([class*="align-"]),
:not(figure) > .media--type-file:not([class*="align-"]) > .field--type-string {
  display: inline;
}

img.align-left,
figure.align-left,
img.align-right,
figure.align-right,
div.align-left.media--type-image,
div.align-right.media--type-image {
  margin-bottom: 1rem;
}

figure img {
  margin-top: 0px !important;
}

.drupal-media.align-left,
.drupal-media.align-right,
div.align-left.media--type-image,
div.align-right.media--type-image,
figure.align-left,
figure.align-right {
  margin-top: 1.75em;
}

img.align-left,
img.align-right {
  margin-top: .5em;
}

[class^="widget-"].align-left,
[class^="widget-"].align-right {
  max-width: 28rem;
}

@media (min-width: 768px) {

  .align-left {
    float: left;
  }

  .align-right {
    float: right;
  }

  .drupal-media.align-left,
  .drupal-media.align-right,
  .caption-drupal-media.align-left,
  .caption-drupal-media.align-right,
  figure.align-left,
  figure.align-right,
  img.align-left,
  img.align-right,
  div.align-left.media--type-image,
  div.align-right.media--type-image  {
    clear: both;
    max-width: 50%;
  }

  [class^="widget-"].align-left,
  img.align-left,
  figure.align-left,
  div.align-left.media--type-image {
    margin-right: 1.5rem;
  }

  [class^="widget-"].align-right,
  img.align-right,
  figure.align-right,
  div.align-right.media--type-image, {
    margin-left: 1.5rem;
  }

}

/* specific overrides */

.carousel__cell .media--type-remote-video,
.media--type-remote-video.media--view-mode--featured-content {
  margin-top: 0px;
  margin-bottom: 0px;
}

@media (max-width: 767px) {

  figure.align-left,
  figure.align-right,
  .drupal-media.align-left,
  .drupal-media.align-right,
  .caption-drupal-media.align-left,
  .caption-drupal-media.align-right,
  img.align-left,
  img.align-right,
  [class^="widget-"].align-left,
  [class^="widget-"].align-right,
  div.align-left.media--type-image,
  div.align-right.media--type-image {
    float: none;
    margin-left: 0px;
    margin-right: 0px;
    max-width: 100%;
  }

  figure.align-left,
  figure.align-right {
    width: 100%;
  }

}

/* add play button on top of image thumbnail */

.media--type-remote-video {
  position: relative;
}

.media--type-remote-video .field--name-thumbnail {
  /*position: absolute;*/
  width: 100%;
  /*height: 100%;*/
  cursor: pointer;
}

.media--type-remote-video .field--name-thumbnail img {
  width: 100%;
}

.media--type-remote-video .field--name-thumbnail:after {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  background-image: url("../img/svg/icon--play.svg");
  background-position: center;
  background-size: 4rem 4rem;
  background-repeat: no-repeat;
  content: '';
}

@media (min-width: 768px) {
  .media--type-remote-video .field--name-thumbnail:after {
    background-size: 7.5rem 7.5rem;
  }
}
