/** @define forms */

/*
* This file contains basic form styles.
*/

button,
input,
optgroup,
select,
textarea {
  line-height: var(--base-line-height);
}

label {
  @apply font-normal;
}

[type="number"],
[type="search"],
[type="date"],
[type="time"],
[type="datetime-local"],
[type="month"],
[type="text"],
[type="password"],
[type="datetime"],
[type="week"],
[type="email"],
[type="url"],
[type="tel"],
[type="color"],
textarea,
select {
  @apply bg-white border text-grey-700 border-grey-300 box-border w-full max-w-full px-[1em] py-[.5em] appearance-none;
  border-radius: var(--input-border-radius);
}

[type="number"]:focus,
[type="search"]:focus,
[type="date"]:focus,
[type="time"]:focus,
[type="datetime-local"]:focus,
[type="month"]:focus,
[type="text"]:focus,
[type="password"]:focus,
[type="datetime"]:focus,
[type="week"]:focus,
[type="email"]:focus,
[type="url"]:focus,
[type="tel"]:focus,
[type="color"]:focus,
textarea:focus {
  @apply bg-white;
}

::placeholder {
  @apply opacity-100 text-grey-300;
}

.form-disabled [type="number"],
.form-disabled [type="search"],
.form-disabled [type="date"],
.form-disabled [type="time"],
.form-disabled [type="datetime-local"],
.form-disabled [type="month"],
.form-disabled [type="text"],
.form-disabled [type="password"],
.form-disabled [type="datetime"],
.form-disabled [type="week"],
.form-disabled [type="email"],
.form-disabled [type="url"],
.form-disabled [type="tel"],
.form-disabled [type="color"],
.form-disabled textarea {
  @apply border-2 cursor-not-allowed bg-grey-50 border-grey-300;
}

/* select element styles */
select {
  @apply bg-[url('../img/svg/icon-select-down.svg')] pr-10 bg-no-repeat bg-[length:1.5em_1.5em];
  background-position: right 0.5rem center;
  print-color-adjust: exact;
}

/* fieldset and legend */
fieldset {
  @apply pb-8 border-0;
  margin-top: calc(1.625 * 1rem);
}

legend {
  @apply text-ubc-blue-sea block pb-2 uppercase border-b-[.25rem] border-ubc-blue-sea font-semibold;
  font-size: 110%;
}

.form-item-wrapper {
  @apply mt-6;
}

.form-item-wrapper > label {
  @apply block text-sm font-semibold text-ubc-blue;
}

.form-item-wrapper:not(.form-checkbox):not(.form-radio) > label {
  @apply pb-2;
}

.form-item {
  @apply mt-6;
}

fieldset {
  @apply border-0;
}

/*
fieldset fieldset {
  margin-top: 0;
  padding-right: 0;
  padding-bottom: 0;
  padding-left: 0;
  box-shadow: none;
}

fieldset fieldset legend {
  text-transform: none;
  border-bottom-width: 0.125rem;
  font-size: 0.875em;
}
*/

input[type="search"] {
  @apply box-border;
}

/* radio and checkbox element styles - expects input before label */
.form-checkbox,
.form-radio {
  @apply inline-flex items-center;
}

.form-checkbox label,
.form-radio label {
  @apply mx-[1em];
}

[type=checkbox],
[type=radio] {
  @apply inline-block p-0 align-middle bg-white border appearance-none select-none shrink-0 border-ubc-blue text-ubc-blue;
  width: 1em;
  height: 1em;
  background-origin: border-box;
  print-color-adjust: exact;
}

[type=checkbox] {
  @apply rounded-none;
}

[type=radio] {
  @apply rounded-full;
}

[type=checkbox]:focus,
[type=radio]:focus {
  outline: 2px solid transparent;
  outline-offset: 2px;
  box-shadow: 0 0 0 0.375rem rgba(64, 180, 229, 0.5) !important;
}

[type=checkbox]:checked,
[type=radio]:checked {
  border-color: transparent;
  background-color: currentColor;
  background-repeat: no-repeat;
  background-position: center;
  background-size: 100% 100%;
}

[type=checkbox]:checked {
  @apply bg-[url('../img/svg/icon-check-white.svg')];
}

[type=radio]:checked {
  background-image: url("data:image/svg+xml,%3csvg viewBox='0 0 16 16' fill='white' xmlns='http://www.w3.org/2000/svg'%3e%3ccircle cx='8' cy='8' r='3'/%3e%3c/svg%3e");
}

[type=checkbox]:checked:focus,
[type=checkbox]:checked:hover,
[type=radio]:checked:focus,
[type=radio]:checked:hover {
  border-color: transparent;
  background-color: currentColor;
}

.form-checkbox input:disabled,
.form-checkbox input:disabled:hover,
.form-radio input:disabled,
.form-radio input:disabled:hover {
  @apply bg-grey-100;
  border-color: rgba(0, 0, 0, 0.4);
}


/* form field required styles */
.form-required {
  color: #ff7c7c;
  font-weight: 700;
}

:required:focus {
  outline: none;
  box-shadow:
    0 0 0 0.375rem rgba(255, 124, 124, 0.5),
    0 0 0 1px #d62f2f !important;
}
