/** @define typography */

/*
* This file contains default typographic styles for text.
*/

html {
  color: var(--grey-900);
  font-family: var(--text-font-stack);
  font-size: 100%;
  font-weight: 400;
}

body {
  font-family: var(--text-font-stack);
  font-size: var(--base-font-size);
  line-height: var(--leading);
}

/* heading elements */
h1,
.h1 {
  @apply text-4xl tracking-wide;
  margin-top: calc(var(--leading) * 2rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 900;
  line-height: 1.4;
}

h2,
.h2 {
  @apply text-3xl tracking-wide;
  margin-top: calc(var(--leading) * 1.75rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 600;
  line-height: 1.5;
}

h3,
.h3 {
  @apply text-2xl tracking-wide;
  margin-top: calc(var(--leading) * 1.5rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 600;
  line-height: 1.5;
}

h4,
.h4 {
  @apply text-xl tracking-wide;
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 700;
  line-height: 1.5;
}

h5,
.h5 {
  @apply text-lg tracking-wide;
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 600;
  line-height: 1.5;
}

h6,
.h6 {
  @apply text-base tracking-wide;
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
  font-family: var(--alternate-font-stack);
  font-weight: 400;
  line-height: 1.5;
}

.heading-display,
.heading-display h1 {
  @apply text-4xl tracking-wide;
  font-weight: 700;
  line-height: 1.4;
}

/* responsive type (20px min to 46px max) - see https://modern-fluid-typography.vercel.app for configuration */
.heading-responsive {
  @apply tracking-wide;
  line-height: 1.2;
  font-weight: 400;
  font-size: clamp(1.25rem, 2vw + 1rem, 2.875rem);
}

/* text and list elements */
p,
pre,
table,
blockquote {
  margin-top: calc(var(--leading) * 1rem);
  margin-bottom: 0;
}

b,
strong {
  font-weight: 600;
}

kbd,
code {
  padding: 0.125em 0.25em;
  background-color: var(--grey-100);
  font-size: 0.875em;
}

kbd {
  display: inline-block;
  white-space: nowrap;
  border: 1px solid var(--grey-300);
  border-radius: 3px;
  box-shadow: 0 1px 1px rgba(0, 0, 0, 0.2), 0 2px 0 0 rgba(255, 255, 255, 0.7) inset;
  font-weight: 600;
  line-height: 1;
}

code,
kbd,
sub,
sup,
samp,
.text--code {
  position: relative;
  vertical-align: baseline;
}

sup {
  top: -0.5em;
}

sub {
  bottom: -0.25em;
}

/* Lists */
ul,
ol,
dl {
  margin-top: 0.75rem;
  margin-bottom: 0.75rem;
}

ul li > ul,
ol li > ol,
ul li > ol,
ol li > ul {
  margin-top: 0;
  margin-bottom: 0;
}

ul {
  @apply pl-6;

  list-style-type: disc;
}

ol {
  @apply pl-6;

  list-style-type: decimal;
}

dt {
  text-transform: uppercase;
}

/* Blockquote */
blockquote {
  @apply relative pl-8 mx-auto my-12 text-2xl border-l-2 text-unit-primary border-l-unit-secondary;

  max-width: 60ch;
  quotes: "“""”""‘""’";
  font-family: var(--alternate-font-stack);
}

blockquote p {
  @apply tracking-normal;
}

blockquote p:first-of-type {
  margin-top: 0;
}

blockquote p:last-of-type {
  position: relative;
}

blockquote p:first-of-type::before {
  content: '“';
}

blockquote p:last-of-type::after {
  content: '”';
}

cite,
.cite {
  @apply pt-6 font-sans text-xs not-italic font-semibold tracking-wide uppercase text-ubc-blue;
}

cite span,
.cite span {
  display: block;
}

.blockquote--inverse,
.blockquote--inverse cite,
.blockquote--inverse .cite {
  @apply text-left bg-transparent text-ubc-blue;
}


/* Tables */
table {
  margin-top: 0.75rem;
}

/* horizontal rule element */
hr,
.hr {
  margin: 0.75rem 0;
  border-top: 1px solid var(--grey-300);
}

.hr--styled {
  max-width: 7rem;
  margin: 0.75rem 0;
  border-top: 0.25rem solid var(--ubc-blue);
}

/* Text utilities */
.text-lead {
  @apply text-xl text-grey-600;
  margin-top: calc(var(--leading) * 1.5rem);
  margin-bottom: 0;
  font-family: var(--text-font-stack);
  line-height: var(--leading);
}

.text-caption {
  @apply text-sm;
  margin-bottom: 0;
  line-height: var(--leading);
  letter-spacing: 0.04em;
}

.text-hug {
  margin-top: 0;
}

.text-uppercase {
  text-transform: uppercase;
}

.text-lowercase {
  text-transform: lowercase;
}

.text-capitalize {
  text-transform: capitalize;
}

/* we use the 'ch' unit, which is the width of the '0' [zero] character in the current font. */

/* https://meyerweb.com/eric/thoughts/2018/06/28/what-is-the-css-ch-unit/ */
.text-measure {
  max-width: 60ch;
}

.text-measure-sm {
  max-width: 50ch;
}

.text-measure-lg {
  max-width: 70ch;
}
