{#
/**
 * @file
 * Theme override for a form element label.
 *
 * Available variables:
 * - title: The label's text.
 * - title_display: Elements title_display setting.
 * - required: An indicator for whether the associated form element is required.
 * - attributes: A list of HTML attributes for the label.
 *
 * @see template_preprocess_form_element_label()
 */
#}
{%
  set classes = [
    title_display == 'after' ? 'option',
    title_display == 'invisible' ? 'visually-hidden',
  ]
%}
{%
  set reqClasses = [
    required ? 'js-form-required',
  ]
%}

{% if title is not empty and required -%}
  <label{{ attributes.addClass(classes, reqClasses) }}>{{ title }} <span class="form-required" title="This field is required.">*</span></label>
{%- endif %}
{% if title is not empty and not required -%}
  <label{{ attributes.addClass(classes) }}>{{ title }}</label>
{%- endif %}
