{#
/**
 * @file
 * Theme override to display a media item.
 *
 * Available variables:
 * - name: Name of the media.
 * - content: Media content.
 *
 * @see template_preprocess_media()
 *
 * @ingroup themeable
 */
#}
{%
  set classes = [
    'media',
    'media--type-remote-video',
    not media.isPublished() ? 'media--unpublished',
    view_mode ? 'media--view-mode-' ~ view_mode|clean_class,
  ]
%}

<figure{{ attributes.addClass(classes) }}>
  {{ title_suffix.contextual_links }}
  {{ content|without('field_media_oembed_video') }}
  <div class="field--name-field-media-oembed-video" hidden>{{ content.field_media_oembed_video.0 }}</div>
</figure>
