/** @define custom */

/*
* This file contains all styles related to the custom theme.
*/

/* Inline list */
.list-inline {
  margin-left: 0;
  list-style: none;
}

.list-inline > li {
  display: inline-block;
  padding-left: 0;
}

/* change breadcrumb colours when on a coloured background */
.bg-unit-alt-primary.crumbs .crumb--active,
.bg-unit-alt-primary.crumbs .crumb::after,
.bg-unit-alt-primary.crumbs .crumb {
  color: $unit-alt-accent !important;
}

.bg-unit-alt-secondary.crumbs .crumb--active,
.bg-unit-alt-secondary.crumbs .crumb::after,
.bg-unit-alt-secondary.crumbs .crumb,
.bg-unit-alt-tertiary.crumbs .crumb--active,
.bg-unit-alt-tertiary.crumbs .crumb::after,
.bg-unit-alt-accent.crumbs .crumb--active,
.bg-unit-alt-accent.crumbs .crumb::after {
  color: $unit-alt-primary !important;
}

.bg-dark.crumbs .crumb--active {
  color: $ubc-blue-polar !important;
}

.bg-unit-primary.crumbs .nav-breadcrumbs {
  @apply border-unit-primary;
}

.bg-unit-secondary.crumbs .nav-breadcrumbs {
  @apply border-unit-secondary;
}

.bg-unit-tertiary.crumbs .nav-breadcrumbs {
  @apply border-unit-tertiary;
}

.bg-unit-accent.crumbs .nav-breadcrumbs {
  @apply border-unit-accent;
}

.bg-unit-alt-primary.crumbs .nav-breadcrumbs {
  @apply border-unit-alt-primary;
}

.bg-unit-alt-secondary.crumbs .nav-breadcrumbs {
  @apply border-unit-alt-secondary;
}

.bg-unit-alt-tertiary.crumbs .nav-breadcrumbs {
  @apply border-unit-alt-tertiary;
}

.bg-unit-alt-accent.crumbs .nav-breadcrumbs {
  @apply border-unit-alt-accent;
}

.bg-ubc-blue.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue;
}

.bg-ubc-blue-sea.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-sea;
}

.bg-ubc-blue-sea.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-sea;
}

.bg-ubc-blue-cobalt.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-cobalt;
}

.bg-ubc-blue-neptune.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-neptune;
}

.bg-ubc-blue-cornflower.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-cornflower;
}

.bg-ubc-blue-polar.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-polar;
}

.bg-ubc-blue-frost.crumbs .nav-breadcrumbs {
  @apply border-ubc-blue-frost;
}

.bg-grey-100.crumbs .nav-breadcrumbs {
  @apply border-grey-100;
}

/* links on coloured backgrounds */
.bg-dark a:not(.unit-button),
.bg-dark a:hover:not(.unit-button) {
  color: #fff;
}

/* paragraphs */
.paragraph--type--text__inner > :first-child,
.paragraph--type--text > div > div > :first-child {
  @apply mt-0;
}

.bg-dark {
  color: #fff;
}

.bg-dark a {
  color: $ubc-blue-polar;
}

.bg-dark a:hover {
  color: $ubc-blue-cornflower;
}

.bg-dark .unit-button--light {
  color: $ubc-blue-cobalt;
}

.bg-dark .unit-button--dark {
  border-color: $ubc-blue-polar;
}

.bg-dark .unit-button--simple {
  color: #fff;
}

.bg-dark .unit-button--light:hover,
.bg-dark .unit-button--dark:hover,
.bg-dark .unit-button--simple:hover,
.bg-dark.group:hover .unit-button--light,
.bg-dark.group:hover .unit-button--dark,
.bg-dark.group:hover .unit-button--simple {
  color: #fff;
}

.bg-dark .unit-button--simple::after,
.bg-dark .unit-button--simple:hover::after,
.bg-dark.group:hover .unit-button--simple::after {
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%23ffffff' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.bg-unit-alt-tertiary,
.bg-unit-alt-accent,
.bg-unit-alt-tertiary a,
.bg-unit-alt-accent a {
  color: var(--color-alt-primary);
}

.bg-unit-alt-tertiary a:hover,
.bg-unit-alt-accent a:hover {
  color: $grey-900;
}

/* SVG Icon fix for cards */
.paragraph--type--icon-card img {
  margin-right: auto;
  margin-left: auto;
}

/* Views exposed forms */
.views-exposed-form .form-item {
  margin-top: 0;
}

/* image filters */
.img-greyscale {
  filter: grayscale(100%);
}

.keyline-bottom::after {
  position: absolute;
  display: block;
  background: #fff;
  height: 1px;
  width: 40%;
  left: 30%;
  content: '';
  bottom: -5px;
  opacity: .5;
}


.tooltip {
  background-color: #333;
  color: white;
  padding: 5px 10px;
  border-radius: 4px;
  font-size: 13px;
}
.tooltip-arrow,
.tooltip-arrow::before {
  position: absolute;
  width: 8px;
  height: 8px;
  background: inherit;
}

.tooltip-arrow {
  visibility: hidden;
}

.tooltip-arrow::before {
  visibility: visible;
  content: '';
  transform: rotate(45deg);
}

.tooltip[data-popper-placement^='top'] > .tooltip-arrow {
  bottom: -4px;
}

.tooltip[data-popper-placement^='bottom'] > .tooltip-arrow {
  top: -4px;
}

.tooltip[data-popper-placement^='left'] > .tooltip-arrow {
  right: -4px;
}

.tooltip[data-popper-placement^='right'] > .tooltip-arrow {
  left: -4px;
}

/* remove header nav default transition */
#navbar-unit.collapsing {
  transition: none;
}