/** @define button */

/*
* This file contains all styles related to the button component.
*/

/* flex button */
.unit-button,
[data-drupal-button-link~="unit-button"],
.buttons--capped a {
  @apply inline-flex text-center text-white no-underline border border-transparent bg-unit-primary;

  padding: 1em 1.5em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  line-height: 1.3;
}

.unit-button:hover,
.group:hover .unit-button,
[data-drupal-button-link~="unit-button"]:hover,
.buttons--capped a:hover {
  @apply text-white no-underline border-transparent shadow-md bg-unit-accent;

  transition: background-color .125s ease, color .125s ease;
}

.unit-button:active,
[data-drupal-button-link~="unit-button"]:active,
.buttons--capped a:active {
  @apply text-white no-underline border-transparent shadow-md bg-ubc-blue-cobalt;
}

.unit-button--block,
[data-drupal-button-link~="unit-button-block"] {
  display: block;
  width: 100%;
  text-align: center;
}

/* button colour variations */
/* light button */
.unit-button--light,
[data-drupal-button-link-style~="unit-button--light"] {
  @apply text-black border-transparent bg-unit-tertiary;
}

.unit-button--light:hover,
[data-drupal-button-link-style~="unit-button--light"]:hover {
  @apply text-black border-transparent bg-ubc-blue-cornflower;
}

.unit-button--light:active,
[data-drupal-button-link-style~="unit-button--light"]:active {
  @apply text-black border-transparent bg-ubc-blue-polar;
}

/* dark button */
.unit-button--dark,
[data-drupal-button-link-style~="unit-button--dark"] {
  @apply text-white border-transparent bg-ubc-blue;
}

.unit-button--dark:hover,
.group:hover .unit-button--dark,
[data-drupal-button-link-style~="unit-button--dark"]:hover {
  @apply text-white border-transparent bg-ubc-blue-sea;
}

.unit-button--dark:active,
[data-drupal-button-link-style~="unit-button--dark"]:active {
  @apply text-white border-transparent bg-ubc-blue-cobalt;
}

/* bordered button */
.unit-button--bordered,
[data-drupal-button-link-style~="unit-button--bordered"] {
  @apply border-2 bg-ubc-blue-frost text-grey-900 border-unit-primary;
}

.unit-button--bordered:hover,
.group:hover .unit-button--bordered,
[data-drupal-button-link-style~="unit-button--bordered"]:hover {
  @apply text-black border-2 bg-unit-tertiary border-unit-primary;
}

.unit-button--bordered:active,
[data-drupal-button-link-style~="unit-button--bordered"]:active {
  @apply text-black border-2 bg-unit-tertiary border-unit-primary;
}

/* capped button */
.unit-button--capped,
[data-drupal-button-link-style~="unit-button--capped"],
.buttons--capped a {
  @apply flex pl-0 -mt-[1px] transition-all bg-transparent border-y border-x-0 text-grey-900 border-unit-secondary relative text-left;
  background-position: right 2em center;
  background-size: 1em 1em;
  background-repeat: no-repeat;
}

.unit-button--capped:hover,
.group:hover .unit-button--capped,
[data-drupal-button-link-style~="unit-button--capped"]:hover,
.buttons--capped a:hover {
  @apply z-10 transition-all border-y border-x-0 text-ubc-blue-cobalt bg-ubc-blue-polar;
  border-color: $unit-secondary transparent $unit-primary transparent;
  background-image: url("data:image/svg+xml,%3Csvg width='32' height='32' viewBox='0 0 32 32' fill='none' xmlns='http://www.w3.org/2000/svg'%3E%3Cpath d='M5 16H27' stroke='%230055B7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3Cpath d='M18 7L27 16L18 25' stroke='%230055B7' stroke-width='2' stroke-linecap='round' stroke-linejoin='round'/%3E%3C/svg%3E");
  padding-left: 1em;
  background-position: right 1em center;
}

.unit-button--capped:active,
[data-drupal-button-link-style~="unit-button--capped"]:active,
.buttons--capped a:active {
  @apply border-y border-x-0 text-ubc-blue-cobalt bg-ubc-blue-polar border-unit-primary;
}

/* subunit button */
.unit-button--subunit,
[data-drupal-button-link-style~="unit-button--subunit"] {
  @apply text-unit-alt-primary bg-unit-alt-tertiary border-unit-alt-tertiary;
}

.unit-button--subunit:hover,
.group:hover .unit-button--subunit,
[data-drupal-button-link-style~="unit-button--subunit"]:hover {
  @apply text-unit-alt-primary bg-unit-alt-accent border-unit-alt-accent;
}

.unit-button--subunit:active,
[data-drupal-button-link-style~="unit-button--subunit"]:active {
  @apply text-unit-alt-primary bg-unit-alt-accent border-unit-alt-accent;
}

/* transparent button */
.unit-button--transparent,
[data-drupal-button-link-style~="unit-button--transparent"] {
  @apply text-white border-transparent bg-white/20;
}

.unit-button--transparent:hover,
.group:hover .unit-button--transparent,
[data-drupal-button-link-style~="unit-button--transparent"]:hover {
  @apply text-white border-transparent bg-white/40;
}

.unit-button--transparent:active,
[data-drupal-button-link-style~="unit-button--transparent"]:active {
  @apply text-white border-transparent bg-white/50;
}

/* simple button */
.unit-button--simple,
[data-drupal-button-link-style~="unit-button--simple"] {
  @apply relative inline-flex py-0 pl-0 tracking-wider border-0;
  color: var(--color-link);
  background: transparent;
}

.unit-button--simple::after,
[data-drupal-button-link-style~="unit-button--simple"]::after {
  @apply w-[1.25em] h-[1.25em] bg-transparent z-0;
  content: '';
  background-position: center  center;
  background-size: 1.25em;
  background-repeat: no-repeat;
  transition: transform .125s ease;
  transform: translateY(-.05em);
  background-image: url("data:image/svg+xml,%3Csvg xmlns='http://www.w3.org/2000/svg' viewBox='0 0 64 64'%3E%3Cpath fill='none' stroke='%230055b7' stroke-miterlimit='10' stroke-width='4' d='M26 20.006L40 32 26 44.006'%3E%3C/path%3E%3C/svg%3E");
}

.unit-button--simple:hover,
.group:hover .unit-button--simple,
[data-drupal-button-link-style~="unit-button--simple"]:hover {
  text-decoration: none;
  color: var(--color-link-hover);
  background: transparent;
  box-shadow: none;
}

.unit-button--simple:hover::after,
.group:hover .unit-button--simple::after,
[data-drupal-button-link-style~="unit-button--simple"]:hover::after {
  transform: translate(.5em, -.05em);
  transition: transform .125s ease;
}

.unit-button-no-icon::after {
  display: none;
}

.unit-button-icon {
  top: 0.5em;
  width: 1em;
  height: 1em;
  margin-left: 0.5em;
  transform: translateY(0.2em);
}

/* add formatting for lists of buttons */
.button-list {
  @apply pl-0 list-none mt-leading;
}