/** @define margin */

/* Helper class to remove margin of first child */
.first-child--mt-0 > :first-child {
  margin-top: 0;
}

@media (min-width: $breakpoint--md) {

  .md--first-child--mt-0 > :first-child {
    margin-top: 0;
  }

}

.mt-h1 {
  margin-top: calc(var(--leading) * 2rem);
}

.mt-h2 {
  margin-top: calc(var(--leading) * 1.75rem);
}

.mt-h3 {
  margin-top: calc(var(--leading) * 1.5rem);
}

.mt-h4,
.mt-h5,
.mt-h6 {
  margin-top: calc(var(--leading) * 1rem);
}
