{% include '@kraken/includes/footer.unit.html.twig' %}
<div id="clf7__footer">
  <div id="ubc7-footer" class="expand" role="contentinfo">
    <div class="row-fluid expand" id="ubc7-global-footer">
      <div class="clearfix clf-container">
        <div class="span5" id="ubc7-signature"><a href="https://www.ubc.ca/">The University of British Columbia</a>
        </div>
        <div class="span7" id="ubc7-footer-menu">
          <div class="clearfix row-fluid">
            <div class="span6">
              <h3>About UBC</h3>
              <div><a href="https://www.ubc.ca/about/contact.html">Contact UBC</a></div>
              <div><a href="https://www.ubc.ca/about/">About the University</a></div>
              <div><a href="https://www.ubc.ca/landing/news.html">News</a></div>
              <div><a href="https://www.ubc.ca/landing/events.html">Events</a></div>
              <div><a href="https://hr.ubc.ca/careers-and-job-postings">Careers</a></div>
              <div><a href="https://give.ubc.ca/">Make a Gift</a></div>
              <div><a href="https://www.ubc.ca/search/">Search UBC.ca</a></div>
            </div>
            <div class="span6 ml">
              <h3>UBC Campuses</h3>
              <div><a href="https://www.ubc.ca/">Vancouver Campus</a></div>
              <div><a href="https://ok.ubc.ca/">Okanagan Campus</a></div>
              <h4>UBC Sites</h4>
              <div><a href="https://robsonsquare.ubc.ca/">Robson Square</a></div>
              <div><a href="https://thecdm.ca/">Centre for Digital Media</a>
              </div>
              <div><a href="https://www.med.ubc.ca/about/campuses/">Faculty of Medicine Across BC</a></div>
            </div>
          </div>
        </div>
      </div> <!-- /clf-container -->
    </div>
    <div class="row-fluid expand" id="ubc7-minimal-footer">
      <div class="clf-container">
        <div class="span12">
          <ul>
            <li><a href="https://www.ubc.ca/landing/emergencyprocedures.html">Emergency Procedures</a> <span class="divider">|</span>
            </li>
            <li><a href="https://www.ubc.ca/site/legal.html">Terms of Use</a> <span class="divider">|</span></li>
            <li><a href="https://copyright.ubc.ca">UBC Copyright</a> <span class="divider">|</span></li>
            <li><a href="https://www.ubc.ca/accessibility/">Accessibility</a></li>
          </ul>
        </div>
      </div> <!-- /clf-container -->
    </div>
  </div>
</div>
