<svg style="display:none;">
  <symbol id="logo-ubc" viewBox="0 0 60 60" aria-labelledby="title-logo-ubc" aria-describedby="description-logo-ubc" role="img">
    <title id="title-logo-ubc">UBC Crest</title>
    <desc id="description-logo-ubc">The official logo of the University of British Columbia.</desc>
    <path d="M30,22.95l2.2,15.6,7.1-11.8-3,13,7.6-7.3-4,9.6,6.4-4.8c-3,8-5.5,12.6-16.2,16.2-10.8-3.6-13.4-8.1-16.3-16.1L20.2,42l-4.1-9.6,7.7,7.3-3-13,7,11.8Zm-11.2-5.3c-3.2,0-5.2-1.7-5.2-4.7v-7h2.7v6.9a2.3,2.3,0,0,0,1.8,2.7h.7a2.3,2.3,0,0,0,2.5-2.6V6H24v6.9c0,2.9-2,4.7-5.3,4.7m11.4-.2H26.3V6h3.8c2.8,0,4.3,1.1,4.3,3a2.5,2.5,0,0,1-1.6,2.3A2.7,2.7,0,0,1,34.9,14c0,2.2-1.7,3.4-4.9,3.4m-1.2-1.9H30c1,0,2.3-.3,2.3-1.5s-1.2-1.6-2.2-1.6H28.9Zm0-4.9h1c1.3,0,2-.5,2-1.4s-.6-1.3-1.9-1.3h-1Zm13.7,7c-3.7,0-6.1-2.3-6.1-5.9s2.5-5.9,6.2-5.9a7.1,7.1,0,0,1,3.5.8h.1L45.8,9h-.2a5.1,5.1,0,0,0-2.9-1c-2.2,0-3.5,1.4-3.5,3.8s1.4,3.8,3.6,3.8a6,6,0,0,0,3.1-1h.2l.4,2.2h-.1a7.7,7.7,0,0,1-3.8,1M30,55.95c-12.6-3.6-18.7-12-18.7-23.8V3.95H48.7v28.2c0,11.9-6,20.2-18.7,23.8M9.8,2.45v29.9c0,12.5,6.8,21.6,20.2,25.2,13.4-3.6,20.2-12.8,20.2-25.3V2.45ZM30,21.55c2.8,0,3.2,1.1,5.5,1.1s2.6-1.1,5.5-1.1,3.2,1.1,5.5,1.1V20c-2.3,0-2.7-1.1-5.5-1.1S37.8,20,35.5,20s-2.7-1.1-5.5-1.1S26.8,20,24.5,20s-2.6-1.1-5.5-1.1S15.8,20,13.5,20v2.6c2.3,0,2.6-1.1,5.5-1.1s3.2,1.1,5.5,1.1,2.7-1.1,5.5-1.1m1.8,4.7c1.4.3,2,.9,3.7.9s2.6-1.2,5.5-1.2S44.2,27,46.5,27v-2.5c-2.3,0-2.6-1.1-5.5-1.1s-3.2,1.1-5.5,1.1-2.4-.7-4.1-1Zm-7.3,1c1.7,0,2.3-.6,3.7-.9l.4-2.7c-1.6.3-2.2,1-4.1,1s-2.6-1.2-5.4-1.2-3.2,1.1-5.5,1.1v2.6c2.3,0,2.6-1.1,5.5-1.1s3.2,1.1,5.5,1.1M32.4,31l2.3.7,1.6-2.6h-.8a9.7,9.7,0,0,1-3.4-.9Zm7.3-.3H41c2.8,0,3.2,1.1,5.5,1.1v-2.7c-2.3,0-2.6-1.1-5.5-1.1h-.7Zm-19.3,0L19.8,28h-.7c-2.8,0-3.2,1.1-5.5,1.1v2.6c2.3,0,2.7-1.1,5.5-1.1h1.3m4.9,1.1,2.3-.7.4-2.7a9.7,9.7,0,0,1-3.4.9h-.8Z" stroke="none" fill="currentColor"></path>
  </symbol>
  <symbol id="icon-alert" viewbox="0 0 32 32" aria-labelledby="title-icon-alert" aria-describedby="description-icon-alert" role="img">
    <title id="title-icon-alert">Urgent Message</title>
    <desc id="description-icon-alert">An exclamation mark in a speech bubble.</desc>
    <path opacity="0.2" d="M14.269 4.99809L3.27198 23.9971C3.09602 24.3011 3.00322 24.6461 3.00293 24.9974C3.00264 25.3486 3.09487 25.6938 3.27033 25.9981C3.44579 26.3024 3.6983 26.5551 4.00246 26.7308C4.30661 26.9065 4.65167 26.999 5.00294 26.999H26.997C27.3483 26.999 27.6933 26.9065 27.9975 26.7308C28.3016 26.5551 28.5541 26.3024 28.7296 25.9981C28.9051 25.6938 28.9973 25.3486 28.997 24.9974C28.9967 24.6461 28.9039 24.3011 28.7279 23.9971L17.7309 4.99809C17.5552 4.69457 17.3028 4.44258 16.999 4.2674C16.6952 4.09222 16.3507 4 16 4C15.6493 4 15.3047 4.09222 15.0009 4.2674C14.6971 4.44258 14.4447 4.69457 14.269 4.99809V4.99809Z" fill="currentColor"></path>
    <path d="M16 12V18" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16 24C16.8284 24 17.5 23.3284 17.5 22.5C17.5 21.6716 16.8284 21 16 21C15.1716 21 14.5 21.6716 14.5 22.5C14.5 23.3284 15.1716 24 16 24Z" fill="currentColor"></path>
    <path d="M14.269 4.99809L3.27198 23.9971C3.09602 24.3011 3.00322 24.6461 3.00293 24.9974C3.00264 25.3486 3.09487 25.6938 3.27033 25.9981C3.44579 26.3024 3.6983 26.5551 4.00246 26.7308C4.30661 26.9065 4.65167 26.999 5.00294 26.999H26.997C27.3483 26.999 27.6933 26.9065 27.9975 26.7308C28.3016 26.5551 28.5541 26.3024 28.7296 25.9981C28.9051 25.6938 28.9973 25.3486 28.997 24.9974C28.9967 24.6461 28.9039 24.3011 28.7279 23.9971L17.7309 4.99809C17.5552 4.69457 17.3028 4.44258 16.999 4.2674C16.6952 4.09222 16.3507 4 16 4C15.6493 4 15.3047 4.09222 15.0009 4.2674C14.6971 4.44258 14.4447 4.69457 14.269 4.99809V4.99809Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-arrow" viewbox="0 0 32 32" aria-labelledby="title-icon-arrow" aria-describedby="description-icon-arrow" role="img">
    <title id="title-icon-arrow">Arrow</title>
    <desc id="description-icon-arrow">An arrow indicating direction.</desc>
    <path d="M5 16H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
    <path d="M18 7L27 16L18 25" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" fill="none"></path>
  </symbol>
  <symbol id="icon-arrow-circle" viewbox="0 0 32 32" aria-labelledby="title-icon-arrow-circle" aria-describedby="description-icon-arrow-circle" role="img">
    <title id="title-icon-arrow-circle">Arrow in Circle</title>
    <desc id="description-icon-arrow-circle">An arrow indicating direction.</desc>
    <path opacity="0.2" d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" fill="currentColor"></path>
    <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M16.7574 20.2426L21 16L16.7574 11.7574" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 16H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-bluesky" viewBox="0 0 600 530" aria-labelledby="title-icon-bluesky" aria-describedby="description-icon-bluesky" role="img">
		<title id="title-icon-bluesky">Bluesky</title>
		<desc id="description-icon-bluesky">The logo for the Bluesky social media service.</desc>
		<path fill="currentColor" d="M135.72,44.03c66.496,49.921,138.02,151.14,164.28,205.46,26.262-54.316,97.782-155.54,164.28-205.46,47.98-36.021,125.72-63.892,125.72,24.795,0,17.712-10.155,148.79-16.111,170.07-20.703,73.984-96.144,92.854-163.25,81.433,117.3,19.964,147.14,86.092,82.697,152.22-122.39,125.59-175.91-31.511-189.63-71.766-2.514-7.38-3.69-10.832-3.708-7.896-.017-2.936-1.194.517-3.708,7.896-13.714,40.255-67.233,197.36-189.63,71.766-64.444-66.128-34.605-132.26,82.697-152.22-67.108,11.421-142.55-7.449-163.25-81.433-5.956-21.282-16.111-152.36-16.111-170.07,0-88.687,77.742-60.816,125.72-24.795h.003Z"></path>
	</symbol>
  <symbol id="icon-bookmark" viewbox="0 0 32 32" aria-labelledby="title-icon-bookmark" aria-describedby="description-icon-bookmark" role="img">
    <title id="title-icon-bookmark">A bookmark</title>
    <desc id="description-icon-bookmark">An ribbon to indicate a special marker.</desc>
    <path opacity="0.2" d="M25 28L15.9991 23L7 28V5C7 4.73478 7.10536 4.48043 7.29289 4.29289C7.48043 4.10536 7.73478 4 8 4H24C24.2652 4 24.5196 4.10536 24.7071 4.29289C24.8946 4.48043 25 4.73478 25 5V28Z" fill="currentColor"></path>
    <path d="M25 28L15.9991 23L7 28V5C7 4.73478 7.10536 4.48043 7.29289 4.29289C7.48043 4.10536 7.73478 4 8 4H24C24.2652 4 24.5196 4.10536 24.7071 4.29289C24.8946 4.48043 25 4.73478 25 5V28Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-calendar" viewbox="0 0 32 32" aria-labelledby="title-icon-calendar" aria-describedby="description-icon-calendar" role="img">
    <title id="title-icon-calendar">Calendar</title>
    <desc id="description-icon-calendar">A calendar.</desc>
    <path opacity="0.2" d="M5 11H27V6C27 5.73478 26.8946 5.48043 26.7071 5.29289C26.5196 5.10536 26.2652 5 26 5H6C5.73478 5 5.48043 5.10536 5.29289 5.29289C5.10536 5.48043 5 5.73478 5 6V11Z" fill="currentColor"></path>
    <path d="M26 5H6C5.44772 5 5 5.44772 5 6V26C5 26.5523 5.44772 27 6 27H26C26.5523 27 27 26.5523 27 26V6C27 5.44772 26.5523 5 26 5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M22 3V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M10 3V7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5 11H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11.5 15.9996H15L13 18.4996C13.3289 18.4996 13.6526 18.5807 13.9427 18.7357C14.2327 18.8907 14.48 19.1148 14.6628 19.3882C14.8455 19.6616 14.958 19.9759 14.9903 20.3031C15.0226 20.6304 14.9737 20.9606 14.848 21.2644C14.7222 21.5683 14.5235 21.8365 14.2694 22.0452C14.0153 22.2539 13.7136 22.3967 13.3911 22.461C13.0686 22.5253 12.7352 22.5091 12.4205 22.4138C12.1057 22.3185 11.8193 22.1471 11.5866 21.9147" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M18 17.4996L20 15.9996V22.4996" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-caret" viewbox="0 0 32 32" aria-labelledby="title-icon-caret" aria-describedby="description-icon-caret" role="img">
    <title id="title-icon-caret">Caret</title>
    <desc id="description-icon-caret">An arrowhead indicating direction.</desc>
    <path opacity="0.2" d="M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27Z" fill="currentColor"></path>
    <path d="M16 9V16H23" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M24.4854 3.27209L28.728 7.51474" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M3.27197 7.51474L7.51461 3.27209" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_cart %}
  <symbol id="icon-cart" viewbox="0 0 32 32" aria-labelledby="title-icon-cart" aria-describedby="description-icon-cart" role="img">
    <title id="title-icon-cart">E-commerce Cart</title>
    <desc id="description-icon-cart">A shopping cart.</desc>
    <path opacity="0.2" d="M5 8H26.8018C26.9483 8 27.0929 8.03218 27.2256 8.09425C27.3583 8.15633 27.4757 8.2468 27.5695 8.35925C27.6634 8.4717 27.7314 8.6034 27.7687 8.74504C27.8061 8.88667 27.8119 9.03478 27.7857 9.17889L26.1493 18.1789C26.1074 18.4093 25.986 18.6177 25.8062 18.7678C25.6264 18.9178 25.3996 19 25.1654 19H7L5 8Z" fill="currentColor"></path>
    <path d="M24 23H8.56185C8.32766 23 8.1009 22.9178 7.9211 22.7678C7.7413 22.6177 7.61987 22.4093 7.57797 22.1789L4.2402 3.82112C4.19831 3.5907 4.07688 3.3823 3.89708 3.23225C3.71728 3.08219 3.49052 3 3.25633 3H1" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M9 28C10.3807 28 11.5 26.8807 11.5 25.5C11.5 24.1193 10.3807 23 9 23C7.61929 23 6.5 24.1193 6.5 25.5C6.5 26.8807 7.61929 28 9 28Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M24 28C25.3807 28 26.5 26.8807 26.5 25.5C26.5 24.1193 25.3807 23 24 23C22.6193 23 21.5 24.1193 21.5 25.5C21.5 26.8807 22.6193 28 24 28Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5 8H26.8018C26.9483 8 27.0929 8.03218 27.2256 8.09425C27.3583 8.15633 27.4757 8.2468 27.5695 8.35925C27.6634 8.4717 27.7314 8.6034 27.7687 8.74504C27.8061 8.88667 27.8119 9.03478 27.7857 9.17889L26.1493 18.1789C26.1074 18.4093 25.986 18.6177 25.8062 18.7678C25.6264 18.9178 25.3996 19 25.1654 19H7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-clock" viewbox="0 0 32 32" aria-labelledby="title-icon-clock" aria-describedby="description-icon-clock" role="img">
    <title id="title-icon-clock">Time</title>
    <desc id="description-icon-clock">A clock.</desc>
    <path opacity="0.2" d="M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27Z" fill="currentColor"></path>
    <path d="M16 9V16H23" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16 27C22.0751 27 27 22.0751 27 16C27 9.92487 22.0751 5 16 5C9.92487 5 5 9.92487 5 16C5 22.0751 9.92487 27 16 27Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M24.4854 3.27209L28.728 7.51474" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3.27197 7.51474L7.51461 3.27209" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_discussion %}
  <symbol id="icon-discussion" viewbox="0 0 32 32" aria-labelledby="title-icon-discussion" aria-describedby="description-icon-discussion" role="img">
    <title id="title-icon-discussion">Chats</title>
    <desc id="description-icon-discussion">Two speech clouds.</desc>
    <path opacity="0.2" d="M11.5074 21.9865C11.9498 23.2425 12.6653 24.3848 13.6023 25.331C14.5393 26.2773 15.6744 27.0039 16.926 27.4586C18.1776 27.9134 19.5145 28.0849 20.8404 27.9608C22.1662 27.8367 23.4481 27.4202 24.5935 26.7411L24.5935 26.741L27.702 27.6291C27.8306 27.6659 27.9666 27.6675 28.0961 27.634C28.2256 27.6004 28.3437 27.5329 28.4383 27.4383C28.5329 27.3437 28.6005 27.2256 28.634 27.0961C28.6676 26.9666 28.6659 26.8305 28.6291 26.7019L27.741 23.5935L27.7411 23.5936C28.5302 22.2627 28.963 20.751 28.9977 19.2042C29.0325 17.6574 28.668 16.1278 27.9394 14.7629C27.2109 13.398 26.1429 12.2439 24.8384 11.4119C23.5339 10.58 22.0371 10.0982 20.4922 10.0132L20.4925 10.0131C20.9685 11.3704 21.1125 12.822 20.9125 14.2464C20.7124 15.6708 20.1741 17.0266 19.3425 18.2002C18.511 19.3739 17.4105 20.3313 16.133 20.9924C14.8556 21.6535 13.4384 21.999 12 22C11.8347 22 11.6705 21.9956 11.5074 21.9867V21.9865Z" fill="currentColor"></path>
    <path d="M4.25894 17.5936C3.14076 15.7086 2.74916 13.4802 3.15768 11.3269C3.56621 9.17365 4.74675 7.24355 6.47764 5.89908C8.20853 4.55461 10.3707 3.88826 12.5581 4.02514C14.7455 4.16203 16.8078 5.09273 18.3575 6.6425C19.9073 8.19226 20.838 10.2545 20.9749 12.4419C21.1118 14.6293 20.4455 16.7915 19.101 18.5224C17.7565 20.2533 15.8264 21.4338 13.6731 21.8424C11.5199 22.2509 9.29149 21.8593 7.40648 20.7411L7.40651 20.741L4.29808 21.6292C4.16947 21.6659 4.03338 21.6676 3.90391 21.634C3.77443 21.6005 3.65628 21.5329 3.56171 21.4383C3.46713 21.3438 3.39957 21.2256 3.36602 21.0961C3.33247 20.9667 3.33415 20.8306 3.37089 20.702L4.25902 17.5935L4.25894 17.5936Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11.5074 21.9866C11.9498 23.2426 12.6653 24.3848 13.6023 25.3311C14.5393 26.2773 15.6744 27.0039 16.926 27.4587C18.1776 27.9134 19.5145 28.0849 20.8404 27.9608C22.1662 27.8368 23.4481 27.4202 24.5935 26.7411L24.5935 26.741L27.702 27.6291C27.8306 27.6659 27.9666 27.6676 28.0961 27.634C28.2256 27.6005 28.3437 27.5329 28.4383 27.4383C28.5329 27.3438 28.6005 27.2256 28.634 27.0961C28.6676 26.9667 28.6659 26.8306 28.6291 26.702L27.741 23.5935L27.7411 23.5936C28.5302 22.2628 28.963 20.751 28.9977 19.2043C29.0325 17.6575 28.668 16.1278 27.9394 14.7629C27.2109 13.398 26.1429 12.2439 24.8384 11.4119C23.5339 10.58 22.0371 10.0983 20.4922 10.0132" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-external-link" viewbox="0 0 16 16" aria-labelledby="title-icon-external-link" aria-describedby="description-icon-external-link" role="img">
    <title id="title-icon-external-link">External link</title>
    <desc id="description-icon-external-link">An arrow pointing up and to the right.</desc>
    <path d="M5 10.5L12 3.5" fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M12 9.5V3.5H6" fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
    <path d="M3 13.5H13" fill="none" stroke-width="1" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round"/>
  </symbol>
  {% if icon_facebook %}
  <symbol id="icon-facebook" viewbox="0 0 32 32" aria-labelledby="title-icon-facebook" aria-describedby="description-icon-facebook" role="img">
    <title id="title-icon-facebook">Facebook</title>
    <desc id="description-icon-facebook">The logo for the Facebook social media service.</desc>
    <path d="M13.25 11.6667H10V16H13.25V29H18.6667V16H22.5667L23 11.6667H18.6667V9.825C18.6667 8.85 18.8833 8.41667 19.8583 8.41667H23V3H18.8833C14.9833 3 13.25 4.73333 13.25 7.98333V11.6667Z" fill="currentColor"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-facemask" viewbox="0 0 32 32" aria-labelledby="title-icon-facemask" aria-describedby="description-icon-facemask" role="img">
    <title id="title-icon-facemask">A Facemask</title>
    <desc id="description-icon-facemask">The medical facemask.</desc>
    <path opacity="0.2" d="M27 17C27 23.4381 17.695 25.6467 16.2013 25.9598C16.0685 25.9878 15.9315 25.9878 15.7988 25.9598C14.305 25.6467 5 23.4381 5 17V9.70045C5 9.49518 5.06317 9.29488 5.18093 9.12675C5.2987 8.95862 5.46535 8.83081 5.65826 8.76066L15.6583 5.12429C15.879 5.04402 16.121 5.04402 16.3417 5.12429L26.3417 8.76066C26.5347 8.83081 26.7013 8.95862 26.8191 9.12675C26.9368 9.29488 27 9.49518 27 9.70045V17Z" fill="currentColor"></path>
    <path d="M27 17C27 23.4381 17.695 25.6467 16.2013 25.9598C16.0685 25.9878 15.9315 25.9878 15.7988 25.9598C14.305 25.6467 5 23.4381 5 17V9.70045C5 9.49518 5.06317 9.29488 5.18093 9.12675C5.2987 8.95862 5.46535 8.83081 5.65826 8.76066L15.6583 5.12429C15.879 5.04402 16.121 5.04402 16.3417 5.12429L26.3417 8.76066C26.5347 8.83081 26.7013 8.95862 26.8191 9.12675C26.9368 9.29488 27 9.49518 27 9.70045V17Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 14H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M26.6763 19H28C28.7957 19 29.5588 18.6839 30.1214 18.1213C30.684 17.5587 31 16.7956 31 16V13C31 12.2044 30.684 11.4413 30.1214 10.8787C29.5588 10.3161 28.7957 10 28 10H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5.3239 19H4C3.20435 19 2.44129 18.6839 1.87868 18.1213C1.31607 17.5587 1 16.7956 1 16V13C1 12.2044 1.31607 11.4413 1.87868 10.8787C2.44129 10.3161 3.20435 10 4 10H5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_home %}
  <symbol id="icon-home" viewbox="0 0 32 32" aria-labelledby="title-icon-home" aria-describedby="title-icon-home" role="img">
    <title id="title-icon-home">Home</title>
    <desc id="description-icon-home">A house in silhouette.</desc>
    <path opacity="0.2" d="M18.9993 25.9991V19.9989C18.9993 19.7337 18.8939 19.4794 18.7064 19.2918C18.5188 19.1043 18.2645 18.9989 17.9993 18.9989H13.9993C13.7341 18.9989 13.4797 19.1043 13.2922 19.2918C13.1046 19.4794 12.9993 19.7337 12.9993 19.9989V25.9991C12.9993 26.2643 12.8939 26.5186 12.7064 26.7061C12.5189 26.8937 12.2646 26.999 11.9994 26.9991L6.00012 26.9999C5.86879 26.9999 5.73874 26.974 5.6174 26.9238C5.49606 26.8735 5.38581 26.7999 5.29294 26.707C5.20007 26.6142 5.12639 26.5039 5.07613 26.3826C5.02587 26.2612 5 26.1312 5 25.9999V14.4423C5 14.303 5.02911 14.1652 5.08547 14.0378C5.14183 13.9104 5.22418 13.7962 5.32726 13.7024L15.3266 4.61058C15.5106 4.44322 15.7505 4.35047 15.9993 4.35046C16.2481 4.35046 16.4879 4.44318 16.672 4.61054L26.6727 13.7024C26.7758 13.7962 26.8582 13.9104 26.9145 14.0378C26.9709 14.1652 27 14.303 27 14.4424V25.9999C27 26.1312 26.9741 26.2612 26.9239 26.3826C26.8736 26.5039 26.7999 26.6142 26.7071 26.707C26.6142 26.7999 26.5039 26.8735 26.3826 26.9238C26.2613 26.974 26.1312 26.9999 25.9999 26.9999L19.9991 26.9991C19.7339 26.999 19.4796 26.8937 19.2921 26.7061C19.1046 26.5186 18.9993 26.2643 18.9993 25.9991V25.9991Z" fill="currentColor"></path>
    <path d="M18.9993 25.9991V19.9989C18.9993 19.7337 18.8939 19.4794 18.7064 19.2918C18.5188 19.1043 18.2645 18.9989 17.9993 18.9989H13.9993C13.7341 18.9989 13.4797 19.1043 13.2922 19.2918C13.1046 19.4794 12.9993 19.7337 12.9993 19.9989V25.9991C12.9993 26.2643 12.8939 26.5186 12.7064 26.7061C12.5189 26.8937 12.2646 26.999 11.9994 26.9991L6.00012 26.9999C5.86879 26.9999 5.73874 26.974 5.6174 26.9238C5.49606 26.8735 5.38581 26.7999 5.29294 26.707C5.20007 26.6142 5.12639 26.5039 5.07613 26.3826C5.02587 26.2612 5 26.1312 5 25.9999V14.4423C5 14.303 5.02911 14.1652 5.08547 14.0378C5.14183 13.9104 5.22418 13.7962 5.32726 13.7024L15.3266 4.61058C15.5106 4.44322 15.7505 4.35047 15.9993 4.35046C16.2481 4.35046 16.4879 4.44318 16.672 4.61054L26.6727 13.7024C26.7758 13.7962 26.8582 13.9104 26.9145 14.0378C26.9709 14.1652 27 14.303 27 14.4424V25.9999C27 26.1312 26.9741 26.2612 26.9239 26.3826C26.8736 26.5039 26.7999 26.6142 26.7071 26.707C26.6142 26.7999 26.5039 26.8735 26.3826 26.9238C26.2613 26.974 26.1312 26.9999 25.9999 26.9999L19.9991 26.9991C19.7339 26.999 19.4796 26.8937 19.2921 26.7061C19.1046 26.5186 18.9993 26.2643 18.9993 25.9991V25.9991Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-info" viewbox="0 0 32 32" aria-labelledby="title-icon-info" aria-describedby="description-icon-info" role="img">
    <title id="title-icon-info">Information</title>
    <desc id="description-icon-info">The letter 'i' in a circle.</desc>
    <path opacity="0.2" d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" fill="currentColor"></path>
    <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16 12C16.8284 12 17.5 11.3284 17.5 10.5C17.5 9.67157 16.8284 9 16 9C15.1716 9 14.5 9.67157 14.5 10.5C14.5 11.3284 15.1716 12 16 12Z" fill="currentColor"></path>
    <path d="M15 15H16V22H17" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_instagram %}
  <symbol id="icon-instagram" viewbox="0 0 32 32" aria-labelledby="title-icon-instagram" aria-describedby="description-icon-instagram" role="img">
    <title id="title-icon-instagram">Instagram</title>
    <desc id="description-icon-instagram">The logo for the Instagram social media service.</desc>
    <path d="M16 5.38333C19.4667 5.38333 19.9 5.38333 21.3083 5.49167C24.8833 5.6 26.5083 7.33333 26.6167 10.8C26.725 12.2083 26.725 12.5333 26.725 16C26.725 19.4667 26.725 19.9 26.6167 21.2C26.5083 24.6667 24.775 26.4 21.3083 26.5083C19.9 26.6167 19.575 26.6167 16 26.6167C12.5333 26.6167 12.1 26.6167 10.8 26.5083C7.225 26.4 5.6 24.6667 5.49167 21.2C5.38333 19.7917 5.38333 19.4667 5.38333 16C5.38333 12.5333 5.38333 12.1 5.49167 10.8C5.6 7.33333 7.33333 5.6 10.8 5.49167C12.1 5.38333 12.5333 5.38333 16 5.38333ZM16 3C12.425 3 11.9917 3 10.6917 3.10833C5.925 3.325 3.325 5.925 3.10833 10.6917C3 11.9917 3 12.425 3 16C3 19.575 3 20.0083 3.10833 21.3083C3.325 26.075 5.925 28.675 10.6917 28.8917C11.9917 29 12.425 29 16 29C19.575 29 20.0083 29 21.3083 28.8917C26.075 28.675 28.675 26.075 28.8917 21.3083C29 20.0083 29 19.575 29 16C29 12.425 29 11.9917 28.8917 10.6917C28.675 5.925 26.075 3.325 21.3083 3.10833C20.0083 3 19.575 3 16 3ZM16 9.28333C12.3167 9.28333 9.28333 12.3167 9.28333 16C9.28333 19.6833 12.3167 22.7167 16 22.7167C19.6833 22.7167 22.7167 19.6833 22.7167 16C22.7167 12.3167 19.6833 9.28333 16 9.28333ZM16 20.3333C13.6167 20.3333 11.6667 18.3833 11.6667 16C11.6667 13.6167 13.6167 11.6667 16 11.6667C18.3833 11.6667 20.3333 13.6167 20.3333 16C20.3333 18.3833 18.3833 20.3333 16 20.3333ZM22.9333 7.55C22.0667 7.55 21.4167 8.2 21.4167 9.06667C21.4167 9.93333 22.0667 10.5833 22.9333 10.5833C23.8 10.5833 24.45 9.93333 24.45 9.06667C24.45 8.2 23.8 7.55 22.9333 7.55Z" fill="currentColor"></path>
  </symbol>
  {% endif %}
  {% if icon_linkedin %}
  <symbol id="icon-linkedin" viewbox="0 0 32 32" aria-labelledby="title-icon-linkedin" aria-describedby="description-icon-linkedin" role="img">
    <title id="title-icon-linkedin">Linkedin</title>
    <desc id="description-icon-linkedin">The logo for the LinkedIn social media service.</desc>
    <path d="M9.29167 7.3913C9.29167 8.73043 8.2375 9.78261 6.89583 9.78261C5.55417 9.78261 4.5 8.73043 4.5 7.3913C4.5 6.05217 5.55417 5 6.89583 5C8.2375 5 9.29167 6.05217 9.29167 7.3913ZM9.29167 11.6957H4.5V27H9.29167V11.6957ZM16.9583 11.6957H12.1667V27H16.9583V18.9652C16.9583 14.4696 22.7083 14.087 22.7083 18.9652V27H27.5V17.3391C27.5 9.78261 18.9708 10.0696 16.9583 13.8V11.6957Z" fill="currentColor"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-lock-closed" viewbox="0 0 32 32" aria-labelledby="title-icon-lock-closed" aria-describedby="description-icon-lock-closed" role="img">
    <title id="title-icon-lock-closed">Lock, closed</title>
    <desc id="description-icon-lock-closed">A closed padlock.</desc>
    <path opacity="0.2" d="M25.9993 11H5.99927C5.44698 11 4.99927 11.4477 4.99927 12V26C4.99927 26.5523 5.44698 27 5.99927 27H25.9993C26.5516 27 26.9993 26.5523 26.9993 26V12C26.9993 11.4477 26.5516 11 25.9993 11Z" fill="currentColor"></path>
    <path d="M25.9993 11H5.99927C5.44698 11 4.99927 11.4477 4.99927 12V26C4.99927 26.5523 5.44698 27 5.99927 27H25.9993C26.5516 27 26.9993 26.5523 26.9993 26V12C26.9993 11.4477 26.5516 11 25.9993 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11.4993 11V6.5C11.4993 5.30653 11.9734 4.16193 12.8173 3.31802C13.6612 2.47411 14.8058 2 15.9993 2C17.1927 2 18.3373 2.47411 19.1812 3.31802C20.0252 4.16193 20.4993 5.30653 20.4993 6.5V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-lock-open" viewbox="0 0 32 32" aria-labelledby="title-icon-lock-open" aria-describedby="description-icon-lock-open" role="img">
    <title id="title-icon-lock-open">Lock, open</title>
    <desc id="description-icon-lock-open">An open padlock.</desc>
    <path opacity="0.2" d="M25.9993 11H5.99927C5.44698 11 4.99927 11.4477 4.99927 12V26C4.99927 26.5523 5.44698 27 5.99927 27H25.9993C26.5516 27 26.9993 26.5523 26.9993 26V12C26.9993 11.4477 26.5516 11 25.9993 11Z" fill="currentColor"></path>
    <path d="M25.9993 11H5.99927C5.44698 11 4.99927 11.4477 4.99927 12V26C4.99927 26.5523 5.44698 27 5.99927 27H25.9993C26.5516 27 26.9993 26.5523 26.9993 26V12C26.9993 11.4477 26.5516 11 25.9993 11Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11.4993 11V6.5C11.4993 5.30653 11.9734 4.16193 12.8173 3.31802C13.6612 2.47411 14.8058 2 15.9993 2C17.1927 2 18.3373 2.47411 19.1812 3.31802C20.0252 4.16193 20.4993 5.30653 20.4993 6.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_location %}
  <symbol id="icon-location" viewbox="0 0 32 32" aria-labelledby="title-icon-location" aria-describedby="description-icon-location" role="img">
    <title id="title-icon-location">Location Pin</title>
    <desc id="description-icon-location">A map location pin.</desc>
    <path opacity="0.2" d="M16 3C13.3478 3.00001 10.8043 4.05358 8.92894 5.92894C7.05358 7.8043 6.00001 10.3478 6 13C6 22 16 29 16 29C16 29 26 22 26 13C26 10.3478 24.9464 7.8043 23.0711 5.92894C21.1957 4.05358 18.6522 3.00001 16 3ZM16 17C15.2089 17 14.4355 16.7654 13.7777 16.3259C13.1199 15.8864 12.6072 15.2616 12.3045 14.5307C12.0017 13.7998 11.9225 12.9956 12.0769 12.2196C12.2312 11.4437 12.6122 10.731 13.1716 10.1716C13.731 9.61216 14.4437 9.2312 15.2196 9.07686C15.9956 8.92252 16.7998 9.00173 17.5307 9.30448C18.2616 9.60723 18.8864 10.1199 19.3259 10.7777C19.7654 11.4355 20 12.2089 20 13C20 14.0609 19.5786 15.0783 18.8284 15.8284C18.0783 16.5786 17.0609 17 16 17V17Z" fill="currentColor"></path>
    <path d="M16 17C18.2091 17 20 15.2091 20 13C20 10.7909 18.2091 9 16 9C13.7909 9 12 10.7909 12 13C12 15.2091 13.7909 17 16 17Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M26 13C26 22 16 29 16 29C16 29 6 22 6 13C6 10.3478 7.05357 7.8043 8.92893 5.92893C10.8043 4.05357 13.3478 3 16 3C18.6522 3 21.1957 4.05357 23.0711 5.92893C24.9464 7.8043 26 10.3478 26 13V13Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  {% if icon_mail %}
  <symbol id="icon-mail" viewbox="0 0 32 32" aria-labelledby="title-icon-mail" aria-describedby="description-icon-mail" role="img">
    <title id="title-icon-mail">Mail</title>
    <desc id="description-icon-mail">An envelope.</desc>
    <path opacity="0.2" d="M28 12L18.1819 19H13.8181L4 12L16 4L28 12Z" fill="currentColor"></path>
    <path d="M4 12V25C4 25.2652 4.10536 25.5196 4.29289 25.7071C4.48043 25.8946 4.73478 26 5 26H27C27.2652 26 27.5196 25.8946 27.7071 25.7071C27.8946 25.5196 28 25.2652 28 25V12L16 4L4 12Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M13.8182 19L4.30835 25.7174" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M27.6918 25.7174L18.1818 18.9999" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M28 12L18.1819 19H13.8181L4 12" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-mask" viewbox="0 0 32 32" aria-labelledby="title-icon-mask" aria-describedby="description-icon-mask" role="img">
    <title id="title-icon-mask">Mask</title>
    <desc id="description-icon-mask">A protective face mask.</desc>
    <path opacity="0.2" d="M27 17C27 23.4381 17.695 25.6467 16.2013 25.9598C16.0685 25.9878 15.9315 25.9878 15.7988 25.9598C14.305 25.6467 5 23.4381 5 17V9.70045C5 9.49518 5.06317 9.29488 5.18093 9.12675C5.2987 8.95862 5.46535 8.83081 5.65826 8.76066L15.6583 5.12429C15.879 5.04402 16.121 5.04402 16.3417 5.12429L26.3417 8.76066C26.5347 8.83081 26.7013 8.95862 26.8191 9.12675C26.9368 9.29488 27 9.49518 27 9.70045V17Z" fill="currentColor"></path>
    <path d="M27 17C27 23.4381 17.695 25.6467 16.2013 25.9598C16.0685 25.9878 15.9315 25.9878 15.7988 25.9598C14.305 25.6467 5 23.4381 5 17V9.70045C5 9.49518 5.06317 9.29488 5.18093 9.12675C5.2987 8.95862 5.46535 8.83081 5.65826 8.76066L15.6583 5.12429C15.879 5.04402 16.121 5.04402 16.3417 5.12429L26.3417 8.76066C26.5347 8.83081 26.7013 8.95862 26.8191 9.12675C26.9368 9.29488 27 9.49518 27 9.70045V17Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 14H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M11 18H21" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M26.6763 19H28C28.7957 19 29.5588 18.6839 30.1214 18.1213C30.684 17.5587 31 16.7956 31 16V13C31 12.2044 30.684 11.4413 30.1214 10.8787C29.5588 10.3161 28.7957 10 28 10H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5.3239 19H4C3.20435 19 2.44129 18.6839 1.87868 18.1213C1.31607 17.5587 1 16.7956 1 16V13C1 12.2044 1.31607 11.4413 1.87868 10.8787C2.44129 10.3161 3.20435 10 4 10H5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-menu" viewbox="0 0 32 32" aria-labelledby="title-icon-menu" aria-describedby="description-icon-menu" role="img">
    <title id="title-icon-menu">Menu</title>
    <desc id="description-icon-menu">Three horizontal lines indicating a menu.</desc>
    <path d="M5 16H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5 8H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5 24H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-minus" viewbox="0 0 32 32" aria-labelledby="title-icon-minus" aria-describedby="description-icon-minus" role="img">
    <title id="title-icon-minus">Minus</title>
    <desc id="description-icon-minus">A minus sign.</desc>
    <path d="M5 16H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-money" viewBox="0 0 256 256" aria-labelledby="title-icon-money" aria-describedby="description-icon-money" role="img">
    <title id="title-icon-money">Money</title>
    <desc id="description-icon-money">A money bill.</desc>
    <rect width="256" height="256" fill="none"/>
    <circle cx="128" cy="128" r="32" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <circle cx="128" cy="128" r="32" opacity="0.2"/>
    <path d="M232,64H176l64,56V72A8,8,0,0,0,232,64Z" opacity="0.2"/>
    <path d="M232,192a8,8,0,0,0,8-8V136l-64,56Z" opacity="0.2"/>
    <path d="M16,72v48L80,64H24A8,8,0,0,0,16,72Z" opacity="0.2"/>
    <path d="M16,184a8,8,0,0,0,8,8H80L16,136Z" opacity="0.2"/>
    <rect x="16" y="64" width="224" height="128" rx="8" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <line x1="176" y1="64" x2="240" y2="120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <line x1="176" y1="192" x2="240" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <line x1="80" y1="64" x2="16" y2="120" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
    <line x1="80" y1="192" x2="16" y2="136" fill="none" stroke="currentColor" stroke-linecap="round" stroke-linejoin="round" stroke-width="16"/>
  </symbol>
  {% if icon_pencil %}
  <symbol id="icon-pencil" viewbox="0 0 32 32" aria-labelledby="title-icon-pencil" aria-describedby="description-icon-pencil" role="img">
    <title id="title-icon-pencil">Pencil</title>
    <desc id="description-icon-pencil">A pencil indicating that this is editable.</desc>
    <path opacity="0.2" d="M17 7.99997L24 15L27.2929 11.7071C27.4804 11.5195 27.5858 11.2652 27.5858 11C27.5858 10.7348 27.4804 10.4804 27.2929 10.2929L21.7071 4.70708C21.5196 4.51954 21.2652 4.41418 21 4.41418C20.7348 4.41418 20.4804 4.51954 20.2929 4.70708L17 7.99997Z" fill="currentColor"></path>
    <path d="M17 8L24 15" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M12 27H6C5.73478 27 5.48043 26.8946 5.29289 26.7071C5.10536 26.5195 5 26.2652 5 26V20.4142C5 20.2829 5.02587 20.1528 5.07612 20.0315C5.12638 19.9102 5.20004 19.7999 5.29289 19.7071L20.2929 4.70708C20.4804 4.51954 20.7348 4.41418 21 4.41418C21.2652 4.41418 21.5196 4.51954 21.7071 4.70708L27.2929 10.2929C27.4804 10.4804 27.5858 10.7348 27.5858 11C27.5858 11.2652 27.4804 11.5195 27.2929 11.7071L12 27Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  {% if icon_phone %}
  <symbol id="icon-phone" viewbox="0 0 32 32" aria-labelledby="title-icon-phone" aria-describedby="description-icon-phone" role="img">
    <title id="title-icon-phone">Telephone</title>
    <desc id="description-icon-phone">An antique telephone.</desc>
    <path opacity="0.2" d="M11.5595 15.6019C12.5968 17.7226 14.3158 19.4338 16.4412 20.4614C16.5967 20.5351 16.7687 20.567 16.9403 20.554C17.1119 20.541 17.2771 20.4836 17.4198 20.3874L20.5492 18.3006C20.6877 18.2083 20.8469 18.152 21.0126 18.1368C21.1782 18.1215 21.3451 18.1479 21.498 18.2134L27.3526 20.7225C27.5515 20.807 27.7175 20.9538 27.8257 21.1409C27.9339 21.328 27.9783 21.5451 27.9524 21.7596C27.7673 23.2076 27.0608 24.5385 25.9652 25.5031C24.8695 26.4678 23.4598 26.9999 22 27C17.4913 27 13.1673 25.2089 9.97919 22.0208C6.79107 18.8327 5 14.5087 5 10C5.00008 8.54022 5.53224 7.13052 6.49685 6.03485C7.46146 4.93918 8.79237 4.23267 10.2404 4.04763C10.4549 4.02167 10.672 4.06612 10.8591 4.1743C11.0461 4.28248 11.193 4.44852 11.2775 4.6474L13.7888 10.5071C13.8537 10.6587 13.8802 10.824 13.8658 10.9883C13.8514 11.1525 13.7967 11.3107 13.7064 11.4487L11.6268 14.6261C11.5322 14.7691 11.4762 14.9341 11.4644 15.1051C11.4526 15.2762 11.4854 15.4473 11.5595 15.6019V15.6019Z" fill="currentColor"></path>
    <path d="M11.5595 15.6019C12.5968 17.7226 14.3158 19.4338 16.4412 20.4614C16.5967 20.5351 16.7687 20.567 16.9403 20.554C17.1119 20.541 17.2771 20.4836 17.4198 20.3874L20.5492 18.3006C20.6877 18.2083 20.8469 18.152 21.0126 18.1368C21.1782 18.1215 21.3451 18.1479 21.498 18.2134L27.3526 20.7225C27.5515 20.807 27.7175 20.9538 27.8257 21.1409C27.9339 21.328 27.9783 21.5451 27.9524 21.7596C27.7673 23.2076 27.0608 24.5385 25.9652 25.5031C24.8695 26.4678 23.4598 26.9999 22 27C17.4913 27 13.1673 25.2089 9.97919 22.0208C6.79107 18.8327 5 14.5087 5 10C5.00008 8.54022 5.53224 7.13052 6.49685 6.03485C7.46146 4.93918 8.79237 4.23267 10.2404 4.04763C10.4549 4.02167 10.672 4.06612 10.8591 4.1743C11.0461 4.28248 11.193 4.44852 11.2775 4.6474L13.7888 10.5071C13.8537 10.6587 13.8802 10.824 13.8658 10.9883C13.8514 11.1525 13.7967 11.3107 13.7064 11.4487L11.6268 14.6261C11.5322 14.7691 11.4762 14.9341 11.4644 15.1051C11.4526 15.2762 11.4854 15.4473 11.5595 15.6019V15.6019Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  {% if icon_play %}
  <symbol id="icon-play" viewbox="0 0 32 32" aria-labelledby="title-icon-play" aria-describedby="description-icon-play" role="img">
    <title id="title-icon-play">Play</title>
    <desc id="description-icon-play">A media play button.</desc>
    <path opacity="0.2" d="M16 4C13.6266 4 11.3066 4.70379 9.33316 6.02236C7.35977 7.34094 5.8217 9.21509 4.91345 11.4078C4.0052 13.6005 3.76756 16.0133 4.23058 18.3411C4.6936 20.6689 5.83649 22.8071 7.51472 24.4853C9.19295 26.1635 11.3312 27.3064 13.6589 27.7694C15.9867 28.2324 18.3995 27.9948 20.5922 27.0866C22.7849 26.1783 24.6591 24.6402 25.9776 22.6668C27.2962 20.6935 28 18.3734 28 16C28 14.4241 27.6896 12.8637 27.0866 11.4078C26.4835 9.95189 25.5996 8.62901 24.4853 7.51471C23.371 6.40041 22.0481 5.51649 20.5922 4.91344C19.1363 4.31038 17.5759 4 16 4V4ZM14 20V12L20 16L14 20Z" fill="currentColor"></path>
    <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M20 16L14 12V20L20 16Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-plus" viewbox="0 0 32 32" aria-labelledby="title-icon-plus" aria-describedby="description-icon-plus" role="img">
    <title id="title-icon-plus">Plus</title>
    <desc id="description-icon-plus">A plus symbol indicating more or the ability to add.</desc>
    <path d="M5 16H27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M16 5V27" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  <symbol id="icon-rss" viewbox="0 0 32 32" aria-labelledby="title-icon-rss" aria-describedby="description-icon-rss" role="img">
    <title id="title-icon-rss">RSS</title>
    <desc id="description-icon-rss">Curved lines indicating information transfer.</desc>
    <path d="M5.99927 18C8.121 18 10.1558 18.8429 11.6561 20.3431C13.1564 21.8434 13.9993 23.8783 13.9993 26" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5.99927 12C9.7123 12 13.2733 13.475 15.8988 16.1005C18.5243 18.726 19.9993 22.287 19.9993 26" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M5.99927 6C8.62571 6 11.2264 6.51732 13.6529 7.52241C16.0794 8.5275 18.2842 10.0007 20.1414 11.8579C21.9986 13.715 23.4718 15.9198 24.4769 18.3463C25.482 20.7728 25.9993 23.3736 25.9993 26" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M6.49927 27C7.32769 27 7.99927 26.3284 7.99927 25.5C7.99927 24.6716 7.32769 24 6.49927 24C5.67084 24 4.99927 24.6716 4.99927 25.5C4.99927 26.3284 5.67084 27 6.49927 27Z" fill="currentColor"></path>
  </symbol>
  <symbol id="icon-search" viewbox="0 0 32 32" aria-labelledby="title-icon-search" aria-describedby="description-icon-search" role="img">
    <title id="title-icon-search">Search</title>
    <desc id="description-icon-search">A magnifying glass.</desc>
    <path opacity="0.2" d="M14.4995 25C20.2985 25 24.9995 20.299 24.9995 14.5C24.9995 8.70101 20.2985 4 14.4995 4C8.70052 4 3.99951 8.70101 3.99951 14.5C3.99951 20.299 8.70052 25 14.4995 25Z" fill="currentColor"></path>
    <path d="M23.9995 14.5C23.9995 19.7467 19.7462 24 14.4995 24C9.25281 24 4.99951 19.7467 4.99951 14.5C4.99951 9.25329 9.25281 5 14.4995 5C19.7462 5 23.9995 9.25329 23.9995 14.5Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M21.9236 21.925L27.9987 28.0001" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_settings %}
  <symbol id="icon-settings" viewbox="0 0 32 32" aria-labelledby="title-icon-settings" aria-describedby="description-icon-settings" role="img">
    <title id="title-icon-settings">Settings</title>
    <desc id="description-icon-settings">A single gear.</desc>
    <path opacity="0.2" d="M28.6539 13.0676C28.6183 12.9228 28.5513 12.7876 28.4575 12.6717C28.3638 12.5557 28.2456 12.4619 28.1115 12.3968L26.027 11.3661L25.027 9.63407L25.1766 7.31344C25.1873 7.16473 25.1652 7.01548 25.1116 6.87632C25.0581 6.73716 24.9746 6.61151 24.8669 6.50833C23.4287 5.14406 21.6882 4.1392 19.7876 3.57579C19.6444 3.53417 19.4938 3.52463 19.3465 3.54786C19.1993 3.57108 19.0589 3.6265 18.9355 3.71016L17.0006 4.99998H15.0006L13.0657 3.7101C12.9423 3.62644 12.802 3.57102 12.6547 3.54779C12.5074 3.52455 12.3568 3.53409 12.2136 3.5757C10.313 4.13916 8.57255 5.14402 7.13428 6.50828C7.02665 6.61146 6.9431 6.73711 6.88958 6.87627C6.83605 7.01543 6.81386 7.16468 6.82459 7.31339L6.97418 9.63395L5.97418 11.366L3.88965 12.3967C3.7555 12.4618 3.63734 12.5556 3.54359 12.6716C3.44983 12.7875 3.38279 12.9227 3.34723 13.0674C2.88489 14.9952 2.88491 17.0049 3.34729 18.9326C3.38283 19.0774 3.44985 19.2126 3.5436 19.3285C3.63734 19.4445 3.7555 19.5383 3.88965 19.6034L5.97413 20.6341L6.97413 22.3661L6.82453 24.6867C6.81379 24.8354 6.83597 24.9847 6.88949 25.1239C6.943 25.263 7.02654 25.3887 7.13416 25.4919C8.57242 26.8561 10.3129 27.861 12.2136 28.4244C12.3567 28.466 12.5073 28.4756 12.6546 28.4523C12.8019 28.4291 12.9422 28.3737 13.0656 28.29L15.0005 27.0002H17.0005L18.9354 28.2901C19.0588 28.3738 19.1991 28.4292 19.3464 28.4524C19.4937 28.4756 19.6443 28.4661 19.7875 28.4245C21.6881 27.861 23.4285 26.8562 24.8668 25.4919C24.9744 25.3887 25.058 25.2631 25.1115 25.1239C25.165 24.9848 25.1872 24.8355 25.1765 24.6868L25.0269 22.3662L26.0269 20.6342L28.1114 19.6034C28.2456 19.5384 28.3638 19.4446 28.4575 19.3286C28.5513 19.2127 28.6183 19.0775 28.6539 18.9327C29.1162 17.005 29.1162 14.9953 28.6539 13.0676L28.6539 13.0676ZM16.0006 23.0001C14.6161 23.0001 13.2628 22.5896 12.1116 21.8204C10.9605 21.0512 10.0633 19.958 9.53345 18.6789C9.00364 17.3998 8.86502 15.9923 9.13511 14.6345C9.40521 13.2766 10.0719 12.0293 11.0509 11.0504C12.0298 10.0714 13.2771 9.4047 14.635 9.1346C15.9928 8.86451 17.4003 9.00313 18.6794 9.53294C19.9585 10.0628 21.0517 10.96 21.8209 12.1111C22.5901 13.2623 23.0006 14.6156 23.0006 16.0001C23.0006 17.8566 22.2631 19.6371 20.9504 20.9498C19.6376 22.2626 17.8571 23.0001 16.0006 23.0001V23.0001Z" fill="currentColor"></path>
    <path d="M16.0007 23C19.8667 23 23.0007 19.866 23.0007 16C23.0007 12.134 19.8667 9 16.0007 9C12.1347 9 9.00073 12.134 9.00073 16C9.00073 19.866 12.1347 23 16.0007 23Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M6.97413 22.3661L6.82451 24.6867C6.81377 24.8355 6.83594 24.9847 6.88946 25.1239C6.94298 25.263 7.02653 25.3887 7.13415 25.4919C8.57243 26.8561 10.3129 27.861 12.2135 28.4244C12.3567 28.466 12.5073 28.4756 12.6546 28.4523C12.8019 28.4291 12.9422 28.3737 13.0656 28.29L15.0005 27.0002H17.0005L18.9354 28.2901C19.0588 28.3738 19.1991 28.4292 19.3464 28.4524C19.4937 28.4756 19.6443 28.4661 19.7875 28.4245C21.6881 27.861 23.4285 26.8562 24.8668 25.4919C24.9744 25.3887 25.058 25.2631 25.1115 25.1239C25.165 24.9848 25.1872 24.8355 25.1765 24.6868L25.0269 22.3663L26.0269 20.6342L28.1114 19.6035C28.2456 19.5384 28.3637 19.4446 28.4575 19.3286C28.5513 19.2127 28.6183 19.0775 28.6539 18.9327C29.1162 17.005 29.1162 14.9953 28.6538 13.0676C28.6183 12.9228 28.5512 12.7876 28.4575 12.6717C28.3637 12.5557 28.2456 12.4619 28.1114 12.3968L26.027 11.3661L25.027 9.63407L25.1766 7.31346C25.1873 7.16475 25.1652 7.0155 25.1116 6.87633C25.0581 6.73717 24.9746 6.61152 24.8669 6.50832C23.4287 5.14407 21.6882 4.13922 19.7876 3.57577C19.6444 3.53416 19.4938 3.52463 19.3465 3.54786C19.1992 3.57108 19.0589 3.6265 18.9355 3.71015L17.0006 4.99997H15.0006L13.0657 3.7101C12.9423 3.62644 12.802 3.57102 12.6547 3.54779C12.5074 3.52456 12.3568 3.53408 12.2136 3.57569C10.313 4.13916 8.57255 5.14402 7.13427 6.50829C7.02665 6.61148 6.9431 6.73713 6.88958 6.87629C6.83605 7.01545 6.81387 7.1647 6.82461 7.31342L6.9742 9.63395L5.9742 11.366L3.88968 12.3967C3.75552 12.4618 3.63736 12.5556 3.5436 12.6716C3.44984 12.7875 3.38279 12.9227 3.34723 13.0675C2.8849 14.9952 2.88491 17.0049 3.34726 18.9326C3.38281 19.0774 3.44985 19.2126 3.5436 19.3285C3.63736 19.4445 3.75552 19.5383 3.88968 19.6034L5.97413 20.6341L6.97413 22.3661Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-share" viewbox="0 0 32 32" aria-labelledby="title-icon-share" aria-describedby="description-icon-share" role="img">
    <title id="title-icon-share">Arrow indicating share action</title>
    <desc id="description-icon-share">A directional arrow.</desc>
    <path d="M22 19L28 13L22 7" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M24 27H5C4.73478 27 4.48043 26.8946 4.29289 26.7071C4.10536 26.5196 4 26.2652 4 26V11" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
    <path d="M9.37805 22C10.0441 19.424 11.5469 17.1423 13.6505 15.5133C15.7542 13.8843 18.3394 13.0002 21 13H28" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% if icon_speech %}
  <symbol id="icon-speech" viewbox="0 0 32 32" aria-labelledby="title-icon-speech" aria-describedby="description-icon-speech" role="img">
    <title id="title-icon-speech">Speech Bubble</title>
    <desc id="description-icon-speech">A speech bubble.</desc>
    <path opacity="0.2" d="M5.6786 22.1248C4.18768 19.6115 3.66554 16.6403 4.21024 13.7692C4.75494 10.8982 6.329 8.32472 8.63685 6.5321C10.9447 4.73947 13.8276 3.85099 16.7442 4.0335C19.6607 4.21601 22.4103 5.45696 24.4767 7.52331C26.5431 9.58967 27.784 12.3393 27.9666 15.2559C28.1491 18.1724 27.2606 21.0553 25.468 23.3632C23.6754 25.671 21.1019 27.2451 18.2309 27.7898C15.3598 28.3345 12.3887 27.8124 9.87532 26.3215L9.87534 26.3214L5.73077 27.5055C5.5593 27.5545 5.37784 27.5568 5.20521 27.512C5.03257 27.4673 4.87504 27.3772 4.74894 27.2511C4.62283 27.125 4.53275 26.9675 4.48802 26.7948C4.44328 26.6222 4.44553 26.4408 4.49452 26.2693L5.67869 22.1247L5.6786 22.1248Z" fill="currentColor"></path>
    <path d="M5.6786 22.1248C4.18768 19.6115 3.66554 16.6403 4.21024 13.7692C4.75494 10.8982 6.329 8.32472 8.63685 6.5321C10.9447 4.73947 13.8276 3.85099 16.7442 4.0335C19.6607 4.21601 22.4103 5.45696 24.4767 7.52331C26.5431 9.58967 27.784 12.3393 27.9666 15.2559C28.1491 18.1724 27.2606 21.0553 25.468 23.3632C23.6754 25.671 21.1019 27.2451 18.2309 27.7898C15.3598 28.3345 12.3887 27.8124 9.87532 26.3215L9.87534 26.3214L5.73077 27.5055C5.5593 27.5545 5.37784 27.5568 5.20521 27.512C5.03257 27.4673 4.87504 27.3772 4.74894 27.2511C4.62283 27.125 4.53275 26.9675 4.48802 26.7948C4.44328 26.6222 4.44553 26.4408 4.49452 26.2693L5.67869 22.1247L5.6786 22.1248Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  <symbol id="icon-spotify" viewBox="0 0 256 256" aria-labelledby="title-icon-spotify" aria-describedby="description-icon-spotify" role="img">
    <title id="title-icon-spotify">Spotify</title>
    <desc id="description-icon-spotify">The logo for the Spotify music streaming service.</desc>
    <path d="M128,24A104,104,0,1,0,232,128,104.11,104.11,0,0,0,128,24Zm0,192a88,88,0,1,1,88-88A88.1,88.1,0,0,1,128,216Zm31.07-46.26a8,8,0,0,1-10.81,3.33,42.79,42.79,0,0,0-40.52,0,8,8,0,0,1-7.48-14.14,59.33,59.33,0,0,1,55.48,0A8,8,0,0,1,159.07,169.74Zm32-56a8,8,0,0,1-10.83,3.29,110.62,110.62,0,0,0-104.46,0,8,8,0,0,1-7.54-14.12,126.67,126.67,0,0,1,119.54,0A8,8,0,0,1,191.06,113.76Zm-16,28a8,8,0,0,1-10.82,3.3,77,77,0,0,0-72.48,0,8,8,0,0,1-7.52-14.12,93,93,0,0,1,87.52,0A8,8,0,0,1,175.06,141.76Z" fill="currentColor" ></path>
  </symbol>
  {% if icon_star %}
  <symbol id="icon-star" viewbox="0 0 32 32" aria-labelledby="title-icon-star" aria-describedby="description-icon-star" role="img">
    <title id="title-icon-star">Star</title>
    <desc id="description-icon-star">An outline of a star.</desc>
    <path opacity="0.2" d="M16.5514 23.8416L22.8558 27.8358C23.6617 28.3464 24.6622 27.587 24.4231 26.6463L22.6016 19.481C22.5503 19.2815 22.5564 19.0715 22.6191 18.8752C22.6819 18.6789 22.7987 18.5044 22.9563 18.3715L28.6097 13.6661C29.3525 13.0478 28.9691 11.815 28.0147 11.7531L20.6318 11.2739C20.4329 11.2597 20.2422 11.1893 20.0818 11.0709C19.9214 10.9525 19.7979 10.791 19.7258 10.6051L16.9722 3.67097C16.8974 3.4737 16.7643 3.30387 16.5906 3.18403C16.417 3.06418 16.211 3 16 3C15.789 3 15.583 3.06418 15.4094 3.18403C15.2357 3.30387 15.1026 3.4737 15.0278 3.67097L12.2742 10.6051C12.2021 10.791 12.0786 10.9525 11.9182 11.0709C11.7578 11.1893 11.5671 11.2597 11.3682 11.2739L3.98525 11.7531C3.03087 11.815 2.64746 13.0478 3.3903 13.6661L9.04371 18.3715C9.20126 18.5044 9.31813 18.6789 9.38088 18.8752C9.44362 19.0715 9.4497 19.2815 9.39841 19.481L7.70918 26.126C7.42222 27.2549 8.62287 28.1661 9.58991 27.5534L15.4486 23.8416C15.6134 23.7367 15.8047 23.681 16 23.681C16.1953 23.681 16.3866 23.7367 16.5514 23.8416V23.8416Z" fill="currentColor"></path>
    <path d="M16.5514 23.8416L22.8558 27.8358C23.6617 28.3464 24.6622 27.587 24.4231 26.6463L22.6016 19.481C22.5503 19.2815 22.5564 19.0715 22.6191 18.8752C22.6819 18.6789 22.7987 18.5044 22.9563 18.3715L28.6097 13.6661C29.3525 13.0478 28.9691 11.815 28.0147 11.7531L20.6318 11.2739C20.4329 11.2597 20.2422 11.1893 20.0818 11.0709C19.9214 10.9525 19.7979 10.791 19.7258 10.6051L16.9722 3.67097C16.8974 3.4737 16.7643 3.30387 16.5906 3.18403C16.417 3.06418 16.211 3 16 3C15.789 3 15.583 3.06418 15.4094 3.18403C15.2357 3.30387 15.1026 3.4737 15.0278 3.67097L12.2742 10.6051C12.2021 10.791 12.0786 10.9525 11.9182 11.0709C11.7578 11.1893 11.5671 11.2597 11.3682 11.2739L3.98525 11.7531C3.03087 11.815 2.64746 13.0478 3.3903 13.6661L9.04371 18.3715C9.20126 18.5044 9.31813 18.6789 9.38088 18.8752C9.44362 19.0715 9.4497 19.2815 9.39841 19.481L7.70918 26.126C7.42222 27.2549 8.62287 28.1661 9.58991 27.5534L15.4486 23.8416C15.6134 23.7367 15.8047 23.681 16 23.681C16.1953 23.681 16.3866 23.7367 16.5514 23.8416V23.8416Z" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  {% if icon_twitter %}
  <symbol id="icon-twitter" viewbox="0 0 512 512" aria-labelledby="title-icon-twitter" aria-describedby="description-icon-twitter" role="img">
    <title id="title-icon-twitter">Twitter</title>
    <desc id="description-icon-twitter">The logo for the Twitter social media service.</desc>
    <path d="M389.2 48h70.6L305.6 224.2 487 464H345L233.7 318.6 106.5 464H35.8L200.7 275.5 26.8 48H172.4L272.9 180.9 389.2 48zM364.4 421.8h39.1L151.1 88h-42L364.4 421.8z" fill="currentColor"></path>
  </symbol>
  {% endif %}
  {% if icon_user %}
  <symbol id="icon-user" viewbox="0 0 32 32" aria-labelledby="title-icon-user" aria-describedby="description-icon-user" role="img">
    <title id="title-icon-user">User</title>
    <desc id="description-icon-user">A silhouette of a person in a circle.</desc>
    <path opacity="0.2" d="M16 4C13.5726 4.00002 11.2022 4.73622 9.20189 6.11139C7.20156 7.48656 5.66531 9.43604 4.79597 11.7025C3.92662 13.9689 3.76506 16.4457 4.33261 18.8058C4.90015 21.166 6.17013 23.2985 7.97486 24.9219V24.9217C8.72778 23.4405 9.87609 22.1966 11.2926 21.3279C12.709 20.4592 14.3384 19.9996 16 20C15.0111 20 14.0444 19.7068 13.2222 19.1573C12.3999 18.6079 11.759 17.827 11.3806 16.9134C11.0022 15.9998 10.9031 14.9945 11.0961 14.0245C11.289 13.0546 11.7652 12.1637 12.4645 11.4645C13.1637 10.7652 14.0546 10.289 15.0246 10.0961C15.9945 9.90315 16.9998 10.0022 17.9134 10.3806C18.8271 10.759 19.6079 11.3999 20.1574 12.2221C20.7068 13.0444 21 14.0111 21 15C21 16.3261 20.4732 17.5978 19.5355 18.5355C18.5979 19.4732 17.3261 20 16 20C17.6616 19.9996 19.291 20.4592 20.7074 21.3279C22.1239 22.1966 23.2722 23.4405 24.0251 24.9217C25.8299 23.2984 27.0998 21.1658 27.6674 18.8057C28.2349 16.4456 28.0734 13.9688 27.204 11.7024C26.3347 9.43597 24.7984 7.4865 22.7981 6.11134C20.7978 4.73618 18.4274 4.00001 16 4V4Z" fill="currentColor"></path>
    <path d="M16 28C22.6274 28 28 22.6274 28 16C28 9.37258 22.6274 4 16 4C9.37258 4 4 9.37258 4 16C4 22.6274 9.37258 28 16 28Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M16 20C18.7614 20 21 17.7614 21 15C21 12.2386 18.7614 10 16 10C13.2386 10 11 12.2386 11 15C11 17.7614 13.2386 20 16 20Z" stroke="currentColor" stroke-width="2" stroke-miterlimit="10"></path>
    <path d="M7.97485 24.9218C8.72812 23.4408 9.8765 22.1971 11.2929 21.3284C12.7093 20.4598 14.3384 20 16 20C17.6615 20 19.2906 20.4598 20.707 21.3284C22.1234 22.1971 23.2718 23.4407 24.0251 24.9217" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round"></path>
  </symbol>
  {% endif %}
  {% if icon_vimeo %}
  <symbol id="icon-vimeo" viewbox="0 0 1792 1792" aria-labelledby="title-icon-vimeo" aria-describedby="description-icon-vimeo" role="img">
    <title id="title-icon-vimeo">Vimeo</title>
    <desc id="description-icon-vimeo">The logo for the Vimeo video sharing service.</desc>
    <path d="M1709 518q-10 236-332 651-333 431-562 431-142 0-240-263-44-160-132-482-72-262-157-262-18 0-127 76l-77-98q24-21 108-96.5t130-115.5q156-138 241-146 95-9 153 55.5t81 203.5q44 287 66 373 55 249 120 249 51 0 154-161 101-161 109-246 13-139-109-139-57 0-121 26 120-393 459-382 251 8 236 326z" fill="currentColor"></path>
  </symbol>
  {% endif %}
  {% if icon_youtube %}
  <symbol id="icon-youtube" viewbox="0 0 32 32" aria-labelledby="title-icon-youtube" aria-describedby="description-icon-youtube" role="img">
    <title id="title-icon-youtube">Youtube</title>
    <desc id="description-icon-youtube">The logo for the YouTube video sharing service.</desc>
    <path fill-rule="evenodd" clip-rule="evenodd" d="M25.9119 6.96157L25.9203 6.96228L25.9288 6.96293C26.999 7.04537 27.5663 7.24878 27.8788 7.43524C28.1353 7.58822 28.3614 7.81019 28.5771 8.29955C28.8209 8.85259 29.0291 9.70446 29.1608 11.0405C29.2911 12.3622 29.3333 13.998 29.3333 16.0501C29.3333 18.1017 29.2911 19.747 29.1606 21.0803C29.0286 22.4289 28.8197 23.2954 28.5736 23.8587C28.3547 24.3597 28.1301 24.5733 27.8922 24.7133C27.5998 24.8855 27.0524 25.0786 25.9968 25.1328L25.9911 25.1331L25.9854 25.1335C21.2938 25.3945 10.7602 25.395 6.04416 25.1351C4.9914 25.0513 4.43103 24.8498 4.12116 24.6649C3.86474 24.5119 3.6386 24.2899 3.42288 23.8006C3.17908 23.2476 2.97088 22.3957 2.83919 21.0597C2.7089 19.738 2.66667 18.1021 2.66667 16.0501C2.66667 13.998 2.7089 12.3622 2.83919 11.0405C2.97088 9.70446 3.17908 8.85259 3.42288 8.29955C3.6386 7.81019 3.86474 7.58822 4.12116 7.43524C4.43367 7.24878 5.00097 7.04537 6.07119 6.96293L6.07966 6.96228L6.08812 6.96157C10.7407 6.57331 21.2593 6.57331 25.9119 6.96157ZM0 16.0501C0 24.3282 0.666667 27.3992 5.86667 27.7997C10.6667 28.0668 21.3333 28.0668 26.1333 27.7997C31.3333 27.5327 32 24.3282 32 16.0501C32 7.77191 31.3333 4.70097 26.1333 4.30042C21.3333 3.89986 10.6667 3.89986 5.86667 4.30042C0.666667 4.70097 0 7.77191 0 16.0501ZM13.9296 20.4247C13.0431 20.8686 12 20.223 12 19.2305V12.8697C12 11.8772 13.0431 11.2316 13.9296 11.6755L20.2815 14.8559C21.2643 15.3479 21.2643 16.7523 20.2815 17.2443L13.9296 20.4247Z" fill="currentColor"></path>
  </symbol>
  {% endif %}
</svg>
