
{% set envokeid = content.field_envoke_id.0 %}
<!-- Embed Envoke Form -->
<div id="nvkEmbed{{- envokeid -}}" class="my-8 nvkEmbed"></div>
<script async src="https://e1.envoke.com/ext/embed/engagements/{{- envokeid -}}.js"></script>
<!-- End Embed Envoke Form -->