/** @define drupal.webform */

/* alterations to form elements provided by the webform module */

.webform-submission-form {
  display: grid;
  align-items: flex-end;
  grid-template-columns: repeat(1, minmax(0, 1fr));
  padding: 4rem;
  margin-top: 2rem;
  margin-bottom: 2rem;
  border: 1px solid #2f5d7c;
  column-gap: 2rem;
}

.webform-actions {
  margin-top: 1.5rem;
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: 0.875em;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  margin-top: 0;
}

.webform-submission-form .fieldset-wrapper {
  margin-top: 1em;
}

.text-count-message,
.description {
  @apply text-sm text-grey-700;
}

.form--inline .form-item {
  margin-top: 0;
}

.webform input[type="submit"]:not(.webform-button--submit) {
  @apply inline-flex text-center no-underline uppercase border;

  padding: 0.5em 1em 0.3em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  color: white;
  border-color: transparent;
  background-color: var(--color-primary);
  font-size: 0.75em;
  line-height: 1.3;
}

.webform input[type="submit"]:not(.webform-button--submit):hover {
  @apply no-underline shadow-md;

  color: #fff;
  border-color: transparent;
  background-color: var(--color-accent);
}

.webform input[name="autocomplete_table_add"],
.webform input[name="custom_composite_table_add"] {
  margin-top: 0.5em;
  margin-bottom: 0.5em;
}

.tabledrag-toggle-weight {
  font-size: 0.75em;
}

@media (min-width: 600px) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    -moz-column-count: initial;
    -webkit-column-count: initial;
    column-count: initial;
  }

  .webform-options-display-two-columns div.form-item {
    width: 50%;
  }

  .webform-options-display-three-columns div.form-item {
    width: calc(100% / 3);
  }
}

.webform-submission-form .checkboxes--wrapper legend,
.webform-submission-form .webform-checkboxes-other--wrapper legend,
.webform-submission-form .radios--wrapper legend,
.webform-submission-form .webform-radios-other--wrapper legend {
  padding-bottom: 0;
  text-transform: none;
  color: #002145;
  border-bottom: none;
  font-size: 0.875rem;
}

.webform-submission-form .checkboxes--wrapper .fieldset-wrapper,
.webform-submission-form .webform-checkboxes-other--wrapper .fieldset-wrapper,
.webform-submission-form .radios--wrapper .fieldset-wrapper,
.webform-submission-form .webform-radios-other--wrapper .fieldset-wrapper,
.webform-submission-form :not(.checkboxes--wrapper) .form-item.form-checkbox,
.webform-submission-form :not(.radios--wrapper) .form-item.form-radio {
  margin-top: 0.5em;
}

.webform-submission-form .form-checkbox label,
.webform-submission-form .form-radio label {
  padding-bottom: 0;
}

/* fix for tabledrag styles */
a.tabledrag-handle .handle {
  width: 1.5rem;
  height: 1.5rem;
  margin: 0 0.5em 0;
}

/* adjust the display of the colour picker */
.webform-submission-form .form-color {
  float: none;
}

.webform-submission-form .form-color-output {
  display: none;
}

/* if the table has selects inside, vertically center the content inside the TD */
.webform-tableselect td {
  vertical-align: middle;
}
