
@import "config/variables.config.css";

/* alterations to form elements provided by the webform module */

.webform-actions {
  margin-top: 1.5rem;
}

.webform-submission-form .field-prefix,
.webform-submission-form .field-suffix {
  font-size: .875em;
}

.webform-multiple-table .form-item,
.webform-mapping-table .form-item,
.webform-likert-table .form-item,
.webform-submission-form input.form-color {
  margin-top: 0;
}

.webform-submission-form .fieldset-wrapper {
  margin-top: 1em;
}

.text-count-message,
.description {
  @apply text-sm text-grey-700;
}

.form--inline .form-item {
  margin-top: 0;
}

input[type="submit"]:not(.webform-button--submit) {
  @apply inline-flex text-center no-underline uppercase border border-transparent bg-unit-primary;
  padding: 0.5em 1em .3em;
  cursor: pointer;
  transition: all 0.125s ease-out;
  color: #fff;
  line-height: 1.3;
  font-size: .75em;
}

input[type="submit"]:not(.webform-button--submit):hover {
  @apply no-underline border-transparent shadow-md bg-unit-accent;
  color: #fff;
}

input[name="autocomplete_table_add"],
input[name="custom_composite_table_add"] {
  margin-top: .5em;
  margin-bottom: .5em;
}

.tabledrag-toggle-weight {
  font-size: .75em;
}

@media (min-width: $breakpoint--xs) {

  .webform-options-display-two-columns,
  .webform-options-display-three-columns {
    display: flex;
    flex-wrap: wrap;
    margin-top: 0;
    -moz-column-count: initial;
    -webkit-column-count: initial;
    column-count: initial;
  }

  .webform-options-display-two-columns div.form-item {
    width: 50%;
  }

  .webform-options-display-three-columns div.form-item {
    width: calc(100% / 3);
  }

}
